﻿<%@ Page Title="Home Page" Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="TestWeb._Default" %>

<!DOCTYPE html>

<html>
    <head id="Head1" runat="server">
        <title></title>
        <link href="/css/reset.css" rel="stylesheet" type="text/css" />
        
        <link href="/css/jquery/jqueryui.css" rel="stylesheet" type="text/css" />
        <link href="/css/scamp.css" rel="stylesheet" type="text/css" />
        <link href="/css/animation.css" rel="stylesheet" type="text/css" />
        <!--[if IE 7]><link rel="stylesheet" href="/css/scamp-ie7.css"><![endif]-->
        <link href="/css/style.css?id=4505qq6" rel="stylesheet" type="text/css" />

        <script src="/scripts/jquery-1.7.js" type="text/javascript"></script>
        <script src="/scripts/jqueryui1.11.1.js" type="text/javascript"></script>
        <script src="/scripts/time.js" type="text/javascript"></script>
        <script src="/scripts/core.js?i=400085" type="text/javascript"></script>
    </head>
    <body>

<form name="thisform" action="">

    <div class="controlbox">
    
    <input type="submit" />
    
    </div>

    
    


<div class="section zmain" data-section="main">
    <i class="collapse icon-angle-circled-up"></i>
        <h2>Control Types</h2>
</div>

<table class="scamp main">
<tbody>


        <tr>
            <td class="question"><label for="lname_id">Label Data</label>
            <i class="icon-info-circled helpinfo" data-info=""></i>
            </td>
            <td class="answer"><span class="display" title="example of raw display of text/data">Data Pulled From Database To Provide Patient/Encounter Context</span></td>
        </tr>

        <tr>
            <td class="question">
                <label for="some_code_id">Trigger On Any Version Of 'No'</label>
                <span>Select from the list.  Any selection other than 'yes' will require additional information'</span>
            </td>

            <td class="answer">
                <select id="some_code_id" name="some_code" class="child" data-value="1" data-operator="!=">
                    <option value="1"></option> 
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                    <option value="-5">Unknown</option>
                    <option value="-8">Not Answered</option>
                    <option value="-9">Not a Thing</option>
                </select>
            </td>
        </tr>

        <tr>
            <td class="question hide some_code_child">
            <label>Why Did You Answer No?</label>
            <span>This is a cascading dynamic question.  Answer 'Something Else'</span>
            </td>

            <td class="answer hide some_code_child">
                <select name="some_text" class="child" data-value="-5" />
                <option></option>
                <option value="1">Not Appropriate</option>
                <option value="2">Didn't seem wise</option>
                <option value="3">Got distracted</option>
                <option value="4">Don't agree with recommendation</option>
                <option value="-5">Something Else</option>
                </select>
            </td>
        </tr>

        <tr>
            <td class="question hide some_text_child">
                <label for="another_code_id">What Other Reason?</label> 
            </td>

            <td class="answer hide some_text_child">
                <textarea name="another_code" id="another_code_id"></textarea>
            </td>
        </tr>



        <tr>
        
            <td class="question hide some_code_child">
                <label for="control_id">What is the diagnostic code?</label> 
            </td>

            <td class="answer hide some_code_child">
                <input type="text" name="control" id="control_id" />
            </td>

        </tr>


        <tr>
            <td class="question required">
            <label for="dob_id">Encounter Date and Time</label>
    
            <i class="icon-info-circled helpinfo" data-info="Enter or select the Date and Time for this encounter. There is no input mask for the date fields, meaning data can be entered more quickly."></i>
            </td>
            <td class="answer"><input name="dob" type="text" id="Text1" class="datetime required"/></td>
        </tr>


         <tr>
        
            <td class="question">
                <label>Example of a Anchor Link</label>
                <span>This would be used to jump to (and open if necessary) a section block</span>
            </td>

            <td class="answer">
                <a href="#anothersection" class="anchor">Go to Another Section</a>
            </td>

        </tr>

         <tr>
            <td class="question">
            <label>Question with "other" answer</label>
            <span>Selecting 'other' will open an additional question</span>
            </td>

            <td class="answer">
                <select name="some_text2" class="child" data-value="-5,1" />
                <option></option>
                <option value="1">Never</option>
                <option value="2">Rarely</option>
                <option value="3">Sometimes</option>
                <option value="4">Often</option>
                <option value="5">Always</option>
                <option value="-5">Other</option>
                </select>

            </td>
        </tr>

        <tr>
        
            <td class="question hide some_text2_child">
                <label for="another_code">Please Specify Other</label>
            </td>

            <td class="answer hide some_text2_child">
                <input type="text" name="another_code" />
            </td>

        </tr>

                <tr>
            <td class="question">
            <label>How Much Question</label>
            </td>

            <td class="answer">
                <i title="Required" class="icon-star required"></i>
                <input type="text" name="more_code" class="child float" data-value="7" data-operator=">" />
            </td>
        </tr>

        <tr>
        
            <td class="question hide more_code_child">
                <label>Hidden unless greater than 7 entered above</label>
            </td>

            <td class="answer hide more_code_child">
                  <select name="yet_more_code">
                    <option value="{null}"></option> 
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                    <option value="-5">Unknown</option>
                    <option value="-8">No Answered</option>
                </select>
                
            </td>

        </tr>

        <tr>
            <td class="question">
                <label for="multisel">Multi-Select Traditional</label>
            </td>
            <td class="answer">
                <select multiple="multiple" id="multisel" name="fruit1">
                    <option>Pineapple</option>
                    <option>Grapefruit</option>
                    <option>Blackberries</option>
                    <option>Banana</option>
                    <option>Grapes</option>
                    <option>Kiwi</option>
                    <option>Pear</option>
                    <option>Orange</option>
                    <option>Watermellon</option>
                </select>
            </td>
        </tr>

        <tr>

            <td colspan="2" class="span">

            <div class="question alt">
            <label for="color_id">Multi-Select Check Boxes</label>
            <span>Selecting 'other' will open an additional question</span>

            </div>

            <div class="checklist column33">
            <input type="checkbox" name="color" id="box23" value="Red"/><label for="box23">Pineapple</label>
            <br/><input type="checkbox" name="color" id="box24" checked="checked" value="Grapefruit"/><label for="box24">Grapefruit</label>
            <br/><input type="checkbox" name="color" id="box25" checked="checked" value="Blackberries"/><label for="box25">Blackberries</label>
            <br/>
            </div>
            <div class="checklist column33">
            <input type="checkbox" name="color" id="box26" checked="checked" value="Black"/><label for="box26">Banana</label>
            <br/><input type="checkbox" name="color" id="box27" value="Brown"/><label for="box27">Grapes</label>
            <br/><input type="checkbox" name="color" id="box28" value="Yellow"/><label for="box28">Kiwi</label>
            <br/>
            </div>

            <div class="checklist column33">
            <input type="checkbox" name="color" id="box29" checked="checked" value="Black"/><label for="box29">Pear</label>
            <br/><input type="checkbox" name="color" id="box30" value="Brown"/><label for="box30">Orange</label>
            <br/><input type="checkbox" name="color" id="box31" value="Yellow"/><label for="box31">Watermellon</label>
            <br/>
            </div>

            </td>
        </tr>

        <tr>
            <td class="question complex">
                <i class="icon-info-circled helpinfo" data-info="Input multiple related data elements together in a grid.  Each element is stored as its own unique value, but 
                actions can be evaluated based on a threshold answer (any one above or below a target value), an average mean, a count of answers provided (above or below a threshold) or, perhaps,
                other evals not yet identified"></i>
                <label>Complex Input Example - Superhero</label>
                <span>Rate each superhero from 1 to 9</span>
            </td>
            <td class="answer complex">
                <style>
                    .complex .tot1,
                    .complex .tot2,
                    .complex .tot3,
                    .complex .tot4,
                    .complex .tot5,
                    .complex .tot6,
                    .complex .tot7
                    {
                         padding: 10px;
                         text-align: center;
                         vertical-align: middle;
                         }
                </style>
                <table class="complex">
                    <thead>
                        <tr>
                            <td>Super Hero</td>
                            <td>Strength</td>
                            <td>Costume</td>
                            <td>Saving Damsels</td>
                            <td>Super Score</td>
                        </tr>
                    </thead>
                    <tr>
                        <td class="clabel"><label>Batman</label></td>
                        <td><input maxlength="1" style="width:25px;text-align:center;" type="text" name="s1" class="crow1" /></td>
                        <td><input maxlength="1" style="width:25px;text-align:center;" type="text" name="s1" class="crow1" /></td>
                        <td><input maxlength="1" style="width:25px;text-align:center;" type="text" name="s1" class="crow1" /></td>
                        <td class="tot1"></td>
                    </tr>
                    <tr>
                        <td class="clabel"><label>Superman</label></td>
                        <td><input maxlength="1" style="width:25px;text-align:center;" type="text" name="s1" class="crow7" /></td>
                                                <td><input maxlength="1" style="width:25px;text-align:center;" type="text" name="s1" class="crow7" /></td>
                        <td><input maxlength="1" style="width:25px;text-align:center;" type="text" name="s1" class="crow7" /></td>
                        <td class="tot7"></td>
                    </tr>
                    <tr>
                        <td class="clabel"><label>Acquaman</label></td>
                        <td><input maxlength="1" style="width:25px;text-align:center;" type="text" name="s1" class="crow2" /></td>
                                                <td><input maxlength="1" style="width:25px;text-align:center;" type="text" name="s1" class="crow2" /></td>
                        <td><input maxlength="1" style="width:25px;text-align:center;" type="text" name="s1" class="crow2" /></td>
                        <td class="tot2"></td>
                    </tr>
                    <tr>
                        <td class="clabel"><label>Mr. Incredible</label></td>
                        <td><input maxlength="1" style="width:25px;text-align:center;" type="text" name="s1" class="crow3" /></td>
                                                <td><input maxlength="1" style="width:25px;text-align:center;" type="text" name="s1" class="crow3" /></td>
                        <td><input maxlength="1" style="width:25px;text-align:center;" type="text" name="s1" class="crow3" /></td>
                        <td class="tot3"></td>
                    </tr>
                    <tr>
                        <td class="clabel"><label>Wonder Woman</label></td>
                        <td><input maxlength="1" style="width:25px;text-align:center;" type="text" name="s1" class="crow4" /></td>
                                                <td><input maxlength="1" style="width:25px;text-align:center;" type="text" name="s1" class="crow4" /></td>
                        <td><input maxlength="1" style="width:25px;text-align:center;" type="text" name="s1" class="crow4" /></td>
                        <td class="tot4"></td>
                    </tr>
                    <tr>
                        <td class="clabel"><label>The Tick</label></td>
                        <td><input maxlength="1" style="width:25px;text-align:center;" type="text" name="s1" class="crow5" /></td>
                                                <td><input maxlength="1" style="width:25px;text-align:center;" type="text" name="s1" class="crow5" /></td>
                        <td><input maxlength="1" style="width:25px;text-align:center;" type="text" name="s1" class="crow5" /></td>
                        <td class="tot5"></td>
                    </tr>
                    <tr>
                        <td class="clabel"><label>Mothboy</label></td>
                        <td><input maxlength="1" style="width:25px;text-align:center;" type="text" name="s1" class="crow6" /></td>
                                                <td><input maxlength="1" style="width:25px;text-align:center;" type="text" name="s1" class="crow6" /></td>
                        <td><input maxlength="1" style="width:25px;text-align:center;" type="text" name="s1" class="crow6" /></td>
                        <td class="tot6"></td>
                    </tr>                                                            
                </table>
            
            </td>
        
        </tr>
    </tbody>
</table>
<div class="nextbar">
    <ul class="evaluator">
        <li class="next"><input type="button" class="evaluator" value="NEXT" /></li>
    </ul>
</div>

<div class="section" data-section="sectionname">
    <i class="collapse icon-angle-circled-up"></i>
        <h2>Collapsing Section Example</h2>
</div>

<table class="scamp sectionname">
<tbody>
<!-- Section markup -->




   <tr><td class="question">
        <i class="icon-info-circled helpinfo" data-info="Enter a number between 1 and 9. Auto validation in modern browsers.  If >6, it triggers the check list below."></i>
    <label for="age_id">A Number Example</label>
        <span>This is a number element, HTML 5 not supported by IE. This element has a default value, which triggers the check list below.</span>
        
   </td>
   <td><input name="age" type="number" id="age_id" class="answer name num child" value="7" min="1" max="9" maxlength="1" data-value="6" data-operator=">" /></td></tr>




<tr>
<td class="question age_child hide">

<label for="color_id">Color</label>
<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
</td>


<td class="age_child answer hide">

<div class="checklist column25">
<input type="checkbox" name="color" id="Checkbox1" value="Red"/><label for="color_id_1">Red</label>
<br/><input type="checkbox" name="color" id="Checkbox2" checked="checked" value="Green"/><label for="color_id_2">Green</label>
<br/><input type="checkbox" name="color" id="Checkbox3" checked="checked" value="Blue"/><label for="color_id_3">Blue</label>
<br/>
</div>
<div class="checklist column25">
<input type="checkbox" name="color" id="Checkbox4" checked="checked" value="Black"/><label for="color_id_4">Black</label>
<br/><input type="checkbox" name="color" id="Checkbox5" value="Brown"/><label for="color_id_5">Brown</label>
<br/><input type="checkbox" name="color" id="Checkbox6" value="Yellow"/><label for="color_id_6">Yellow</label>
<br/>
</div>
<div class="checklist column25">
<input type="checkbox" name="color" id="Checkbox7" value="Purple"/><label for="color_id_7">Purple</label>
<br/><input type="checkbox" name="color" id="Checkbox8" value="Cyan"/><label for="color_id_8">Cyan</label>
<br/><input type="checkbox" name="color" id="Checkbox9" checked="checked" value="Pink"/><label for="color_id_9">Pink</label>
<br/>
</div>
<div class="checklist column25">
<input type="checkbox" name="color" id="Checkbox10" value="Orange"/><label for="color_id_10">Orange</label>
<br/><input type="checkbox" name="color" id="Checkbox11" value="Gray"/><label for="color_id_11">Gray</label>
<br/>
</div>

</td></tr>



<!--  IMAGE SELECT EXAMPLE -->
<tr>
    <td class="question " colspan="2">
        <div class="imageselect">
            <ul>
                <li><img src="/images/pain0.png" value="0" /></li>
                <li><img src="/images/pain2.png" value="2" /></li>
                <li><img src="/images/pain4.png" value="4" /></li>
                <li><img src="/images/pain6.png" value="6" /></li>
                <li><img src="/images/pain8.png" value="8" /></li>
                <li><img src="/images/pain10.png" value="10" /></li>
            </ul>
            
        </div>
        <div class="selector">
            
            <label>Select the patient's Wong-Baker Pain Scale:</label>
            <i class="icon-star required" title="Required"></i>
            <select>
                <option></option>
                <option value="0">No Hurt</option>
                <option value="2">Hurts Little Bit</option>
                <option value="4">Hurts Little More</option>
                <option value="6" selected="selected">Hurts Even More</option>
                <option value="8">Hurts Whole Lot</option>
                <option value="10">Hurts Worst</option>
            </select>
            <span>subtitle text</span>
        </div>
    </td>
</tr>


<tr>
    <td class="question error">
        <label for="animal_id" class="labelclass error">The Pet I Want</label>
        <span>Example of error markup</span>
    </td>
    <td class="answer">
        <div class="errormessage"><i class="icon-attention"></i>Please Select a Pet</div>
        
        <select name="animal" id="animal_id" class="elm error">
            <optgroup label="New Pets">
            <option value="0">Iguana</option>
            <option value="1">Ferret</option>
            <option selected="selected" value="3">Potbelly Pig</option>
            <option value="13">Hermit Crab</option>
            </optgroup>
            <optgroup label="Old Pets">
            <option value="5">Dog</option>
            <option value="6">Cat</option>
            <option value="7">Bird</option>
            <option value="8">Fish</option>
            </optgroup>
        </select>
    </td>
</tr>
<tr>
    <td class="question required" title="REQUIRED FIELD"><label for="age_id">Age</label>
    
    </td>
    <td class="answer required"><input name="age" type="number" id="Number1" class="name num" value="7" min="1" max="9" maxlength="1"/></td>
</tr>

<!-- infobox markup -->
<tr>
    <td colspan="2" class="infobox">
        <h4>Info Box Example</h4>
        <p>
        This element consists of a title and a body of text that is intended to present some contextural information to the user.  It can be application use or guideance 
        or it could be clinical direction or expectations.  This could be the beginning of a new section, for example, and could contain general information about the next set of 
        questions.
        </p>
        <p>
        When authoring this, if requested, we can make this area a basic WYSIWYG editor so that <a target="_new" href="http://mit.edu">Links</a> or
        <ol>
        <li>Lists</li>
        <li>Like</li>
        <li>this</li>
        </ol>
        can easily be created.
        </p>
    </td>
</tr>

<tr>
    <td class="question required"">
    <label for="dob_id">DOB</label>
    
    <i class="icon-info-circled helpinfo" data-info="Enter or select the patient's date of birth.  Hour and minute are not required - they are simply here as an example of a date and time element type"></i>
    </td>
    <td class="answer">
    <i title="Required" class="icon-star required"></i>
    <input name="dob" type="text" id="dob_id" class="datetime required"/></td>
</tr>


<tr><td class="question"><label for="notes_id">Notes</label>
<i class="icon-info-circled helpinfo" data-info="Add any and all notes releated to this form.  Append any additional notes as you go.  Do the following: 
<ul><li>One</li><li>Two</li><li>Three</li><li>Four</li><li>Five</li><li>Six</li><li>Seven</li><li>Eight</li></ul> Carry on!  Hopefully this is long enough to trigger alternate layout"></i>
</td><td class="answer">
<textarea name="notes" id="notes_id">A whole bunch of text that probably needs to be HTML encoded to be properly displayed</textarea>

</td></tr>

<tr>
    <td class="question"><label for="imagea_id">Picture</label></td>
    <td class="answer">
        <div class="imagewrapper"><img src="/images/test.GIF" id="imagea_id" title="Diagram of the work flow for something or something else.  CLICK TO ENLARGE" class="popimage"/>
        </div>
    </td>
</tr>



    </tbody>

</table>

<div class="section" data-section="anothersection">
    <a id="anothersection"></a>
    <i class="collapse icon-angle-circled-up"></i>
        <h2>Another Section</h2>   
</div>

<table class="scamp anothersection">
<tbody>
<!-- Section markup -->




   <tr><td class="question"><label for="age_id">Age</label></td>
   <td><input name="age" type="number" id="Number2" class="answer name num child" value="7" min="1" max="9" maxlength="1" data-value="6" data-operator=">" /></td></tr>




<tr>
<td class="question age_child hide">

<label for="color_id">Colors</label>

</td>


<td class="age_child answer hide">

<div class="checklist column25">
<input type="checkbox" name="color" id="Checkbox12" value="Red"/><label for="color_id_1">Red</label>
<br/><input type="checkbox" name="color" id="Checkbox13" checked="checked" value="Green"/><label for="color_id_2">Green</label>
<br/><input type="checkbox" name="color" id="Checkbox14" checked="checked" value="Blue"/><label for="color_id_3">Blue</label>
<br/>
</div>
<div class="checklist column25">
<input type="checkbox" name="color" id="Checkbox15" checked="checked" value="Black"/><label for="color_id_4">Black</label>
<br/><input type="checkbox" name="color" id="Checkbox16" value="Brown"/><label for="color_id_5">Brown</label>
<br/><input type="checkbox" name="color" id="Checkbox17" value="Yellow"/><label for="color_id_6">Yellow</label>
<br/>
</div>
<div class="checklist column25">
<input type="checkbox" name="color" id="Checkbox18" value="Purple"/><label for="color_id_7">Purple</label>
<br/><input type="checkbox" name="color" id="Checkbox19" value="Cyan"/><label for="color_id_8">Cyan</label>
<br/><input type="checkbox" name="color" id="Checkbox20" checked="checked" value="Pink"/><label for="color_id_9">Pink</label>
<br/>
</div>
<div class="checklist column25">
<input type="checkbox" name="color" id="Checkbox21" value="Orange"/><label for="color_id_10">Orange</label>
<br/><input type="checkbox" name="color" id="Checkbox22" value="Gray"/><label for="color_id_11">Gray</label>
<br/>
</div>

</td></tr>


<tr>
    <td class="question error">
        <label for="animal_id" class="labelclass error">Animal</label>
        <span>Example of error markup</span>
    </td>
    <td class="answer">
        <div class="errormessage"><i class="icon-attention"></i>Please Select an Animal</div>
        <select name="animal" id="Select1" class="elm error">
            <optgroup label="New">
            <option value="0">Dog</option>
            <option value="1">Cat:Escape colon for the option</option>
            <option selected="selected" value="3">Bird</option>
            </optgroup>
            <optgroup label="Old">
            <option value="5">Dog</option>
            <option value="6">Cat</option>
            <option value="7">Bird</option>
            </optgroup>
        </select>
    </td>
</tr>
<tr>
    <td class="question required" title="REQUIRED FIELD"><label for="age_id">Age</label></td>
    <td class="answer required"><input name="age" type="number" id="Number3" class="name num" value="7" min="1" max="9" maxlength="1"/></td>
</tr>

<!-- infobox markup -->
<tr>
    <td colspan="2" class="infobox">
        <h4>Info Box Example</h4>
        <p>
        This element consists of a title and a body of text that is intended to present some contextural information to the user.  It can be application use or guideance 
        or it could be clinical direction or expectations.  This could be the beginning of a new section, for example, and could contain general information about the next set of 
        questions.
        </p>
        <p>
        When authoring this, if requested, we can make this area a basic WYSIWYG editor so that <a target="_new" href="http://mit.edu">Links</a> or
        <ol>
        <li>Lists</li>
        <li>Like</li>
        <li>this</li>
        </ol>
        can easily be created.
        </p>
    </td>
</tr>



<tr>
    <td class="question">
        <i class="icon-info-circled helpinfo" data-info=""></i>
        <label for="lname_id">Last Name</label>
        <span>An example of label data display, i.e. display data but no data entry.</span>
    
    </td>
    <td class="answer"><span class="display" title="example of raw display of text/data">Kelly</span></td>
</tr>

<tr><td class="question"><label for="notes_id">Notes</label>
<i class="icon-info-circled helpinfo" data-info="Add any and all notes releated to this form.  Append any additional notes as you go.  Do the following: 
<ul><li>One</li><li>Two</li><li>Three</li><li>Four</li><li>Five</li><li>Six</li><li>Seven</li><li>Eight</li></ul> Carry on!  Hopefully this is long enough to trigger alternate layout"></i>
</td><td class="answer">
<textarea name="notes" id="Textarea1">A whole bunch of text that probably needs to be HTML encoded to be properly displayed</textarea>

</td></tr>

<tr>
    <td class="question"><label for="imagea_id">Picture</label></td>
    <td class="answer">
        <div class="imagewrapper"><img src="/images/test.GIF" id="Img1" title="Diagram of the work flow for something or something else.  CLICK TO ENLARGE" class="popimage"/>
        </div>
    </td>
</tr>



    </tbody>

</table>

<table>
    <tbody>
        <tr>
            <td colspan="2">
            <input type="submit" value="Save" />
            </td>
        </tr>

    </tbody>

</table>
    
    </form>

        <div class="overlay"></div>
        <div class="modal draggable">
            <div class="modalcontrol">
                            <div class="box">
                    <i class="icon-cancel-1"></i>
                </div>
                <h4>modal title</h4>

            </div>
            <div class="contents">
                modal contents
            <br/>
            <input type="text" class="num sfp" min="2" max="398" maxlength="5"/> <span title="minimum 2 maximum 398">kg</span><br/>
            <input type="text" class="num sfp" min="0" max="99" maxlength="5"/> <span>cm</span><br/>    
            </div>
        </div>
    </body>
</html>

