﻿@media print
{
    .div[class*="svg"] svg
    {
		width: 850px;
	}
}

.largeGraph 
{
   border-width: 0px 1px;
}
.mediumGraph
{
    width:541px;
    border-width: 0px 1px;
}
.smallGraph 
{
    width:218px;
    border-width: 0px 1px;
}

.tinyGraph
{
    width:108px;
    border-width: 0px 1px;
}

