﻿a
{
    text-decoration:none;
    color:#444;
}
a:visited
{
    color:none;
}
.patientheader a
{
    text-decoration:none;
    font-size:1.1em;
    color:#FFF;
}
.toolbar
{
    display:inline-block;
}
.controlbox
{
    display:inline;
}
div.userpanel span.logout
{
    width:8em;
}
.toolbar ul.menu
{
    position:absolute;
    margin:4px 0 0 2px;
}
.dashboard .menu ul li
{
    background-color:#FFF;
    filter: progid:DXImageTransform.Microsoft.DropShadow(offX=3,offY=3,Direction=135, Color='#e9e9e9');
}
.dashboard .menu ul li a
{
    text-decoration:none;
    color:#579;
}

th.tabletitle
{
    zoom:1;
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#557799', endColorstr='#7799BB',GradientType=0);
}
.answer > div > input, TABLE.complex input
{
    border:none;
}
.fmodal h4, .modal h4
{
    display:inline;
}
.fmodal form, .modal form
{
    display:inline-block;
    width:30em;
}
.fmodal div, .modal div
{
    display:inline-block;
}
.modalcontrol
{
    width:27em;
    display:inline-block;
}
#ScreenPtSCAMP #c-id
{
    width:26em;
}
.footer
{
    zoom:1;
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#557799', endColorstr='#7799BB',GradientType=0);
}

.searchoptions .elements
{
    height: 2.2em;
}
#externaldatacontainer
{
    width:500px;
}

.column10
{
    float:left;
    max-width:10%;
}
.column11
{
    float:left;
    max-width:11%;
}
.column12
{
    float:left;
    max-width:23%;
}
.column14
{
    float:left;
    max-width:14%;
}

.column16
{
    float:left;
    max-width:20%;
}
.column20
{
    float:left;
    max-width:22%;
}
.column25
{
    float:left;
    max-width:23%;
}

.column33
{
    float:left;
    max-width:30%;
}

.column50
{
    float:left;
    max-width:48%;
}

.frmaction div span
{
    width: 60px;
}

/*  SDF Page */
.panel .heading h2 {
    padding: 2px 0;
}

.checklist 
{
    margin-right: 3px;
    margin-right: 16px;
}
