@font-face {
  font-family: 'scamp';
  src: url('/css/fontello/font/scamp.eot?81656170');
  src: url('/css/fontello/font/scamp.eot?81656170#iefix') format('embedded-opentype'),
       url('/css/fontello/font/scamp.woff2?81656170') format('woff2'),
       url('/css/fontello/font/scamp.woff?81656170') format('woff'),
       url('/css/fontello/font/scamp.ttf?81656170') format('truetype'),
       url('/css/fontello/font/scamp.svg?81656170#scamp') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'scamp';
    src: url('../font/scamp.svg?81656170#scamp') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "scamp";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mic:before { content: '\e800'; } /* '' */
.icon-mic-outline:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-down-open:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-up-open:before { content: '\e806'; } /* '' */
.icon-angle-circled-left:before { content: '\e807'; } /* '' */
.icon-angle-circled-right:before { content: '\e808'; } /* '' */
.icon-angle-circled-up:before { content: '\e809'; } /* '' */
.icon-angle-circled-down:before { content: '\e80a'; } /* '' */
.icon-doc-text-inv:before { content: '\e80b'; } /* '' */
.icon-doc-inv:before { content: '\e80c'; } /* '' */
.icon-ok-squared:before { content: '\e80d'; } /* '' */
.icon-cancel:before { content: '\e80e'; } /* '' */
.icon-cancel-circled:before { content: '\e80f'; } /* '' */
.icon-plus:before { content: '\e810'; } /* '' */
.icon-plus-circled:before { content: '\e811'; } /* '' */
.icon-plus-squared:before { content: '\e812'; } /* '' */
.icon-search:before { content: '\e813'; } /* '' */
.icon-th-list:before { content: '\e814'; } /* '' */
.icon-cog-alt:before { content: '\e815'; } /* '' */
.icon-cog:before { content: '\e816'; } /* '' */
.icon-stackoverflow:before { content: '\e817'; } /* '' */
.icon-user-add:before { content: '\e818'; } /* '' */
.icon-archive:before { content: '\e819'; } /* '' */
.icon-flag:before { content: '\e81a'; } /* '' */
.icon-check:before { content: '\e81b'; } /* '' */
.icon-lock-open:before { content: '\e81c'; } /* '' */
.icon-lock:before { content: '\e81d'; } /* '' */
.icon-tag:before { content: '\e81e'; } /* '' */
.icon-tags:before { content: '\e81f'; } /* '' */
.icon-lock-alt:before { content: '\e820'; } /* '' */
.icon-lock-1:before { content: '\e821'; } /* '' */
.icon-lock-open-1:before { content: '\e822'; } /* '' */
.icon-folder-open:before { content: '\e823'; } /* '' */
.icon-newspaper:before { content: '\e824'; } /* '' */
.icon-view-mode:before { content: '\e825'; } /* '' */
.icon-braille:before { content: '\e826'; } /* '' */
.icon-mail-alt:before { content: '\e827'; } /* '' */
.icon-mail:before { content: '\e828'; } /* '' */
.icon-info-circled:before { content: '\e829'; } /* '' */
.icon-help-circled:before { content: '\e82a'; } /* '' */
.icon-info:before { content: '\e82b'; } /* '' */
.icon-clock:before { content: '\e82c'; } /* '' */
.icon-star:before { content: '\e82d'; } /* '' */
.icon-check-1:before { content: '\e82e'; } /* '' */
.icon-cancel-1:before { content: '\e82f'; } /* '' */
.icon-lock-2:before { content: '\e830'; } /* '' */
.icon-lock-open-2:before { content: '\e831'; } /* '' */
.icon-info-circled-1:before { content: '\e832'; } /* '' */
.icon-help-circled-1:before { content: '\e833'; } /* '' */
.icon-info-1:before { content: '\e834'; } /* '' */
.icon-right-bold:before { content: '\e835'; } /* '' */
.icon-doc:before { content: '\e836'; } /* '' */
.icon-doc-inv-1:before { content: '\e837'; } /* '' */
.icon-play:before { content: '\e838'; } /* '' */
.icon-attention:before { content: '\e839'; } /* '' */
.icon-lock-3:before { content: '\e83a'; } /* '' */
.icon-lock-open-3:before { content: '\e83b'; } /* '' */
.icon-download-alt:before { content: '\e83c'; } /* '' */
.icon-cogs:before { content: '\e83d'; } /* '' */
.icon-attention-1:before { content: '\e83e'; } /* '' */
.icon-cog-1:before { content: '\e83f'; } /* '' */
.icon-login:before { content: '\e840'; } /* '' */
.icon-logout:before { content: '\e841'; } /* '' */
.icon-attach:before { content: '\e842'; } /* '' */
.icon-popup:before { content: '\e843'; } /* '' */
.icon-th:before { content: '\e844'; } /* '' */
.icon-th-list-1:before { content: '\e845'; } /* '' */
.icon-clipboard:before { content: '\e846'; } /* '' */
.icon-calculator:before { content: '\e847'; } /* '' */
.icon-lock-filled:before { content: '\e848'; } /* '' */
.icon-lock-4:before { content: '\e849'; } /* '' */
.icon-attach-1:before { content: '\e84a'; } /* '' */
.icon-cancel-outline:before { content: '\e84b'; } /* '' */
.icon-cancel-2:before { content: '\e84c'; } /* '' */
.icon-user-1:before { content: '\e84d'; } /* '' */
.icon-user-outline:before { content: '\e84e'; } /* '' */
.icon-acrobat:before { content: '\e84f'; } /* '' */
.icon-buffer:before { content: '\e850'; } /* '' */
.icon-codepen:before { content: '\e851'; } /* '' */
.icon-folder-open-1:before { content: '\e852'; } /* '' */
.icon-folder-close:before { content: '\e853'; } /* '' */
.icon-logout-1:before { content: '\e854'; } /* '' */
.icon-user-2:before { content: '\e855'; } /* '' */
.icon-popup-1:before { content: '\e856'; } /* '' */
.icon-th-list-2:before { content: '\e857'; } /* '' */
.icon-tumblr:before { content: '\e858'; } /* '' */
.icon-warning:before { content: '\e859'; } /* '' */
.icon-camera:before { content: '\e85a'; } /* '' */
.icon-twitter-bird:before { content: '\e85b'; } /* '' */
.icon-twitter:before { content: '\e85c'; } /* '' */
.icon-dropbox:before { content: '\e85d'; } /* '' */
.icon-male:before { content: '\e85e'; } /* '' */
.icon-female:before { content: '\e85f'; } /* '' */
.icon-signal:before { content: '\e860'; } /* '' */
.icon-table:before { content: '\e861'; } /* '' */
.icon-beaker:before { content: '\e862'; } /* '' */
.icon-cube:before { content: '\e863'; } /* '' */
.icon-cubes:before { content: '\e864'; } /* '' */
.icon-youtube-squared:before { content: '\e865'; } /* '' */
.icon-twitter-squared:before { content: '\e866'; } /* '' */
.icon-tablet:before { content: '\e867'; } /* '' */
.icon-database:before { content: '\e868'; } /* '' */
.icon-database-1:before { content: '\e869'; } /* '' */
.icon-user-3:before { content: '\e86a'; } /* '' */
.icon-heart:before { content: '\e86b'; } /* '' */
.icon-retweet:before { content: '\e86c'; } /* '' */
.icon-target:before { content: '\e86d'; } /* '' */
.icon-sitemap:before { content: '\e86e'; } /* '' */
.icon-chart-pie:before { content: '\e86f'; } /* '' */
.icon-chart-area:before { content: '\e870'; } /* '' */
.icon-chart-bar:before { content: '\e871'; } /* '' */
.icon-newspaper-1:before { content: '\e872'; } /* '' */
.icon-chart-line:before { content: '\e873'; } /* '' */
.icon-network:before { content: '\e874'; } /* '' */
.icon-shuffle:before { content: '\e875'; } /* '' */
.icon-home:before { content: '\e876'; } /* '' */
.icon-link-outline:before { content: '\e877'; } /* '' */
.icon-th-large-outline:before { content: '\e878'; } /* '' */
.icon-edit:before { content: '\e879'; } /* '' */
.icon-move-outline:before { content: '\e87a'; } /* '' */
.icon-user-pair:before { content: '\e87b'; } /* '' */
.icon-home-1:before { content: '\e87c'; } /* '' */
.icon-chat:before { content: '\e87d'; } /* '' */
.icon-group:before { content: '\e87e'; } /* '' */
.icon-th-large:before { content: '\e87f'; } /* '' */
.icon-th-1:before { content: '\e880'; } /* '' */
.icon-edit-alt:before { content: '\e881'; } /* '' */
.icon-edit-1:before { content: '\e882'; } /* '' */
.icon-th-2:before { content: '\e883'; } /* '' */
.icon-desktop:before { content: '\e884'; } /* '' */
.icon-target-1:before { content: '\e885'; } /* '' */
.icon-cd:before { content: '\e886'; } /* '' */
.icon-star-empty:before { content: '\e887'; } /* '' */
.icon-chat-1:before { content: '\e888'; } /* '' */
.icon-menu:before { content: '\e889'; } /* '' */
.icon-flag-1:before { content: '\e88a'; } /* '' */
.icon-bookmark:before { content: '\e88b'; } /* '' */
.icon-off:before { content: '\e88c'; } /* '' */
.icon-server:before { content: '\e88d'; } /* '' */
.icon-login-1:before { content: '\e88e'; } /* '' */
.icon-logout-2:before { content: '\e88f'; } /* '' */
.icon-chart-bar-1:before { content: '\e890'; } /* '' */
.icon-attention-filled:before { content: '\e891'; } /* '' */
.icon-info-outline:before { content: '\e892'; } /* '' */
.icon-info-2:before { content: '\e893'; } /* '' */
.icon-loop:before { content: '\e894'; } /* '' */
.icon-cancel-circle:before { content: '\e895'; } /* '' */
.icon-plus-circle:before { content: '\e896'; } /* '' */
.icon-bell:before { content: '\e897'; } /* '' */
.icon-article-alt:before { content: '\e898'; } /* '' */
.icon-squares:before { content: '\e899'; } /* '' */
.icon-ok-circled:before { content: '\e89a'; } /* '' */
.icon-ok:before { content: '\e89b'; } /* '' */
.icon-wrench:before { content: '\e89c'; } /* '' */
.icon-wrench-circled:before { content: '\e89d'; } /* '' */
.icon-clipboard-1:before { content: '\e89e'; } /* '' */
.icon-adult:before { content: '\e89f'; } /* '' */
.icon-mail-1:before { content: '\e8a0'; } /* '' */
.icon-archive-1:before { content: '\e8a1'; } /* '' */
.icon-book:before { content: '\e8a2'; } /* '' */
.icon-upload-outline:before { content: '\e8a3'; } /* '' */
.icon-upload:before { content: '\e8a4'; } /* '' */
.icon-upload-1:before { content: '\e8a5'; } /* '' */
.icon-export:before { content: '\e8a6'; } /* '' */
.icon-export-1:before { content: '\e8a7'; } /* '' */
.icon-export-2:before { content: '\e8a8'; } /* '' */
.icon-venus:before { content: '\e8a9'; } /* '' */
.icon-mars:before { content: '\e8aa'; } /* '' */
.icon-doc-add:before { content: '\e8ab'; } /* '' */
.icon-doc-remove:before { content: '\e8ac'; } /* '' */
.icon-eject:before { content: '\e8ad'; } /* '' */
.icon-zoom-in:before { content: '\e8ae'; } /* '' */
.icon-female-1:before { content: '\e8af'; } /* '' */
.icon-male-1:before { content: '\e8b0'; } /* '' */
.icon-doc-new:before { content: '\e8b1'; } /* '' */
.icon-doc-new-circled:before { content: '\e8b2'; } /* '' */
.icon-chart:before { content: '\e8b3'; } /* '' */
.icon-inbox-alt:before { content: '\e8b4'; } /* '' */
.icon-doc-1:before { content: '\e8b5'; } /* '' */
.icon-user-add-1:before { content: '\e8b6'; } /* '' */
.icon-folder-add:before { content: '\e8b7'; } /* '' */
.icon-trash-empty:before { content: '\e8b8'; } /* '' */
.icon-calc:before { content: '\e8b9'; } /* '' */
.icon-doc-text:before { content: '\e8ba'; } /* '' */
.icon-doc-2:before { content: '\e8bb'; } /* '' */
.icon-chat-empty:before { content: '\e8bc'; } /* '' */
.icon-history:before { content: '\e8bd'; } /* '' */
.icon-list-alt:before { content: '\e8be'; } /* '' */
.icon-bed:before { content: '\e8bf'; } /* '' */
.icon-medkit:before { content: '\e8c0'; } /* '' */
.icon-columns:before { content: '\e8c1'; } /* '' */
.icon-calendar:before { content: '\e8c2'; } /* '' */
.icon-window:before { content: '\e8c3'; } /* '' */
.icon-publish:before { content: '\e8c4'; } /* '' */
.icon-monitor:before { content: '\e8c5'; } /* '' */
.icon-th-list-3:before { content: '\e8c6'; } /* '' */
.icon-warning-empty:before { content: '\e8c7'; } /* '' */
.icon-tag-1:before { content: '\e8c8'; } /* '' */
.icon-tag-empty:before { content: '\e8c9'; } /* '' */
.icon-pencil:before { content: '\e8ca'; } /* '' */
.icon-trash:before { content: '\e8cb'; } /* '' */
.icon-grid:before { content: '\e8cc'; } /* '' */