﻿
@media only screen and (max-width: 1080px)
{

}
@media only screen and (max-width: 860px)
{
    @viewport {
    width: 400px;
    }

}
@media only screen and (max-width: 600px)
{
 
}


/*


*/

.datacontainer .dataheader {
	padding: 10px 0 10px 20px;
	border-top: solid 1px #557799;
    cursor: pointer;
}


.datacontainer .datacontent {
    display: none;
    padding-left : 25px;
}



 

 


.report
{
    border: 1px solid #acacac;
    border-collapse: separate;
    color:#353537;
    box-shadow: 2px 2px 12px #aaaaa0;
	margin-right:-20px;
    margin-bottom:44px;
    font-size:0.86em;
}
.report th
{
    background-color:#557799;
    color:#ffffff;
    font-weight:600;
    padding:2px;
}



/* reporting tool */

.scampreportlist
{
    margin:0 60px 30px 4px;
}


  
