﻿body
{
    font-family: Verdana,Arial,san-serif;
    font-size:1.0em;
    text-rendering: optimizelegibility;
}
a
{
    color:inherit;
    cursor:pointer;
    text-decoration:none;
}
textarea
{
    font-family: Verdana,Arial,san-serif;
}
strong, b
{
    font-weight:600;
}
sup {
  vertical-align: super;
  font-size: x-small;
  font-weight: bold;
}

/* generalized page elements */
.header .title
{
    margin:4px 0 1px 1px;
}
.header .title .logo
{
    width:180px;
}
.page
{
    margin-bottom: 78px;
}
.userpanel
{
    background-color: #6481a0;
    border:1px solid #dedede;
    border-radius: 18px 0 18px 18px;
    moz-border-radius: 18px 0 18px 18px;
    webkit-border-radius: 18px 0 18px 18px;
    box-shadow: 2px 2px 2px #999999;
    moz-box-shadow: 2px 2px 2px #999999;
    webkit-box-shadow: 2px 2px 2px #999999;
    color: #ececec;
    display: none;
    font-size: 0.75em;
    height: 58px;
    right:12px;
    margin: 26px;
    padding: 8px;
    position: absolute;
    width: 14.3em;
    z-index:10;
}
.controlbox .userpanel
{
    position:absolute;
    right:12px;
}
.userpanel .logout
{
    background-color: #785e48;
    border: 1px solid #dec7b4;
    border-radius: 3px;
    moz-border-radius: 3px;
    webkit-border-radius: 3px;
    box-shadow: 3px 3px 3px #777777;
    moz-box-shadow: 3px 3px 3px #777777;
    webkit-box-shadow: 3px 3px 3px #777777;
    cursor: pointer;
    display: block;
    font-size: 0.8em;
    font-weight: 600;
    margin: 6px auto;
    padding: 4px 4px;
    text-align: center;
    vertical-align: middle;
    width: 84px;
}
.userpanel .logout:hover
{
    background-color:#FF7400;
    border-color:#FF9A47;
}
.userpanel .logout .icon-logout-1
{
    float:left;
    color:#FFF;
    margin: -3px 0 0 0;
}

.footer
{
    background-color: #557799;
        /* IE10 */ 
    background-image: -ms-linear-gradient(bottom, #557799 0%, #7799BB 100%);
    background-image: -moz-linear-gradient(bottom, #557799 0%, #7799BB 100%);
    background-image: -o-linear-gradient(bottom, #557799 0%, #7799BB 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #557799), color-stop(1, #7799BB));  /*ipad/iphone*/
    background-image: -webkit-linear-gradient(bottom, #557799 0%, #7799BB 100%);
    background-image: linear-gradient(to top, #557799 0%, #7799BB 100%); /*standards */
    bottom: 0;
    color: #fefefe;
    font-size: 0.7em;
    padding: 3px 0;
    position: fixed;
    text-align: center;
    width: 100%;
}
.footer a
{
    color:#ffffff;
}

input[disabled='disabled'],
select[disabled='disabled'],
textarea[disabled='disabled']
{
  background-color:#dfdfdf !important;
}
input[disabled='disabled'] + label
{
    color: #aaaaaa;
}
/* dashboard page markup */
.dashboard .menu
{
    float: left;
    height: 100%;
    margin: 10px auto;
    max-width: 230px;
    overflow: hidden;
    position: relative;
}
.dashboard .menu ul
{
    list-style-type:none;
    margin: 0 auto;
    max-width: 540px;
}
.dashboard .menu ul li
{
    border-radius: 6px;
    moz-border-radius: 6px;
    webkit-border-radius: 6px;
    box-shadow: 3px 3px 3px #e9e9e9;
    moz-box-shadow: 3px 3px 3px #e9e9e9;
    webkit-box-shadow: 3px 3px 3px #e9e9e9;
    color: #557799;
    cursor: pointer;
    float: left;
    font-size: 0.9em;
    height: 90px;
    margin: 10px;
    text-align: center;
    width:90px;
}
.dashboard .menu ul li:hover
{
    background-color:#fffcab;
    box-shadow:-2px -2px 0px #eeeeee;
    color: #041E5A;
}
.dashboard .menu ul li i
{
    display:inline-block;
    font-size:1.4em;
    margin-bottom:4px;
}
.dashboard
{
    position:relative;
    height:100%;
}
.dashboard .menu ul li a
{
    clear: both;
    color: inherit;
    display: block;
    font-weight: 600;
    height: 100%;
    padding: 26% 0 0;
    text-decoration: none;
    width: 100%; 
}

.quikinfo
{
    border-left: 1px solid #cccccc;
    float: left;
    width: 78%;
}

/* colors */
.darkgray { color : #444444; }
.gray { color : #777777; }
.lightgray { color : #acacac; }
.green { color: #448844; }

@media only screen and (max-width: 1080px)
{
    .title img
    {
        max-width:200px;
    }
    .dashboard .menu 
    {
        max-width:180px;
    }
    .dashboard .menu ul li
     {
        font-size:0.8em;
        width:58px;  
        height:58px;
     }
     .dashboard .menu ul li a
     {
        font-size:0.78em;
     }
    .dashboard .menu ul li i
    {
        font-size:1.1em;
        margin-bottom:2px;
    }  
}
@media only screen and (max-width: 860px)
{
    @viewport {
    width: 400px;
    }
    .title img
    {
        max-width:180px;
    }
    .dashboard .menu 
    {
        max-width:570px;
        float:none;
    }
    .dashboard .menu ul li
     {
        font-size:0.9em;
        width:100px;  
        height:100px;
     }
     .dashboard .menu ul li a
     {
        font-size:0.95em;
     }
    .dashboard .menu ul li i
    {
        font-size:1.1em;
        margin-bottom:2px;
    } 
    .quikinfo
    {
        width: 98%;
    } 
    .recommend h3
    {
    font-size: 0.95em;
    }
}
@media only screen and (max-width: 600px)
{
    .title img
    {
        max-width:140px;
    }
    .dashboard
    {
        width:100%;
    }
    div.menu
    {
        margin:0 auto;
        width:70%;
    }
    .dashboard .menu 
    {
        max-width:600px;
        margin:0px auto;
        border-right:none;
    }
    .quikinfo
    {
        float:none;
        width:98%;
    }
    .dashboard .menu ul li
     {
        font-size:1em;
        width:80px;  
        height:80px;
     }
    .dashboard .menu ul li i
    {
        font-size:1.1em;
        margin-bottom:9px;
    } 
    .recommend h3
    {
    font-size: 0.90em;
    }  
}
.toolbar
{
    background-color: #557799;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    clear: both;
    height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.toolbar .controlbox
{
    float:right;
    padding:0 4px;
    color:#ffffff;
    margin-top: 0;
}
.toolbar .controlbox span
{
    font-size:0.7em
}
.toolbar .controlbox .logout span
{
    font-size:1.16em
}
span.brand
{
     float:right;
}
.toolbar .controlbox i
{
    cursor: pointer;
    float: right;
    font-size: 1.0em;
    padding: 3px 1px 3px 4px;
}
.toolbar .controlbox i:hover
{
    text-shadow: 2px 2px 3px #333333;
}
.toolbar .controlbox a
{
    color:#ffffff;   
}
.toolbar ul.menu
{
  list-style: none;
  position: absolute;
  z-index: 12;
  top: 2.5em;
  border: 2px solid #999999;
  border-radius: 32px;
  moz-border-radius: 32px;
  webkit-border-radius: 32px;
  box-shadow: 4px 8px 28px 3px #9e9e9e;
  left: 3px;
  display: none;
}
.toolbar ul.menu li
{
  padding: 1px 4px;
  background-color: #deded3;
}
.toolbar .button
{
    background-color: #ecece4;
    border: medium none;
    color: #555555;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    height: 32px;
    padding: 2px 12px;
    text-align: left;
    text-shadow: 1px 1px #ffffff;
    width: 100%;
}

.toolbar .button:hover
{
    background-color:#cecece;
    text-shadow:-1px -1px #ffffff;
}

.toolbar .button[disabled='disabled']
{
    color:#cccccc;
    cursor:default;
}
.toolbar .button[disabled='disabled']:hover
{
    text-shadow: 1px 1px #ffffff;
}
.sdf-menu
{
  color: #ffffff;
  float:left;
  font-size: 1.5em;
  margin: 0px 0 0px 3px;
  cursor: pointer;
  padding: 7px 5px 0;

}
.toolbar .externaldata
{
    border: 1px solid #777777;
    border-radius: 4px;
    font-size: 0.95em;
    height: 26px;
    margin: 5px;
    padding: 0;
    text-align: center;
    width: 120px;
}
.toolbar .externaldata:hover
{
    border: 1px solid #444444;
}

/*
.sdfmenu
{
    color:#444444;
    margin-top:-18px;
    font-size:0.85em;
    right:0;
    position:absolute;
}
.sdfmenu i
{
    cursor:pointer;
}

*/

i.disabled
{
    color:#B2B28D;
}
.toggle
{
    display:none;    
}
.toggle td
{
    border-bottom: 2px dotted #678c80;
    border-top: 2px dotted #678c80 !important;
}
table.scamp .toggle td.question
{
    background-color:#d8dac4;
}
#formview
{
    margin:6px 0 0 12px;
    color:#555555;
    font-size:.75em;
}
.wrapper /* added to Jon's pages to fix layout/markup issues.  As the markup is fixed, these styles should be removed  */
{
    margin-bottom:1.3em;
}
.content
{
    clear:both;
    margin-top:2.5em;
}

table.scamp,
.autoform table
{
    width:100%;
}

table.scamp td
{
    border-bottom: 1px solid #9c9c9c;
    padding: 6px 10px;
    vertical-align: top;
}
table.scamp tr.inline td
{
    border-bottom:none;
    
    padding:3px 0 3px 10px;
}
table.scamp tr.firstrow td
{
    border-top: 1px solid #9c9c9c;
}
table.scamp tr.notop td
{
    border-top: none;
}
table.scamp tr.question-notop td.question
{
    border-top: none;
}
table.scamp tr.answer-notop td.answer
{
    border-top: none;
}
.answer-borderright .checklist
{
    border-right: 1px solid #9c9c9c;
    padding: 3px 20px 0 0;
}
.answer-borderright .answer
{
    padding: 0 5px;
}
table.scamp td.label
{
    background-color:#ddddcc;
    text-align:center;
}
table.scamp td.label h3
{
    font-size: 1.2em;
    font-weight: 600;
    margin: 0 0 3px;  
}
table.scamp td.clean
{
    padding:0;
    margin:0;
}
table.scamp .question
{
    background-color:#e0e0e0;
    border-right:1px solid #9c9c9c;
    border-left: 7px solid #e0e0e0;
    min-width: 140px;
    max-width:400px;
    width:26%;
}
td.question.required
{
    border-right: 2px solid #cc8888;
}
td.answer.recommendation 
{
    background-color: #ddddcc;
    vertical-align: middle;
}

table.scamp td.recommend
{
    background-color: #c0c0b7 !important;
    border-left: 7px solid red;
    font-size: 1.1em;
    font-weight: 600;
}
.recommend h3
{
    color: #343434;
    font-size: 1.05em;
    margin: 16px 12px;
    text-shadow: 1px 1px #f9f9f9;
    white-space:nowrap;
}

.recommendation p
{
    color: #222222;
    font-size: 0.95em;
    padding: 0 0 6px;
}
p.whyrecommend
{
    color:#333333;
    font-size:0.85em;
    font-style:italic;
    margin: 4px 0 0 0;
}
.quesiton label
{
    margin-left:12px;
}
.question span,
td.inline span
{
    clear: both;
    color: #343433;
    display: block;
    font-size: 0.7em;
    margin: 0;
    padding: 0
}

.question.alt
{
    border-bottom:1px solid #c9c9c9;
    display: block;
    max-width: inherit;
    padding: 6px;
    text-align: center;
    width: 100%;
}

table.scamp td.span
{
    padding: 0 0 10px 0;
}
.checklist
{
    padding: 2px;
}
table .compound td
{
    border: none;   
}
table .compound label
{
    font-size: .85em;    
}
table .compound input,
table .compound select
{
    margin-left:0;   
}
.right
{
    float:right;
    text-align:right;
}
.txright
{

    text-align:right;
}
.left
{
    float:left;
}
.center
{
    text-align:center;
}
.hide
{
    display:none;
}
.nowrap
{
    white-space:nowrap;
}
.notation
{
    display:none;
}
.question.hide label
{
    display: block;
    font-size: 0.8em;
    font-weight: 600;
    margin-left: 12px;
}
.hide span
{
    margin-left:12px;
}

.answer
{
    width:76%;
}
.answer input,
.answer select,
.answer textarea,
.answer input[type="number"]
{
    border: 1px solid #887766;
    border-bottom-width:2px;
    /* font-family: "Courier New",mono-space; */
    font-weight:500;
    font-size:1.05em;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: 0;
    padding:2px;
    margin-left:22px; 
    max-width:40em;
}

.answer input.ui-autocomplete-input
{
    width:254px;   
}

.ui-autocomplete {
    max-height: 340px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index:1000 !important;
}
.answer input[type="text"],
.answer input[type="password"]
{
    width:216px;   
}
.answer select
{
    min-width:260px;
}
.answer option
{
    outline: 0;
}

.answer input:focus,
.answer select:focus,
.answer textarea:focus,
.answer input[type="number"]:focus
{
    border-color:#0F1730;   
    font-weight:600; 
}
.answer input[type="checkbox"],
.answer input[type="radio"]
{
    cursor:pointer;
    width:1.1em;
    height:1.1em;
    zoom:1.1;
}
.answer input[type="checkbox"]:checked,
.answer input[type="radio"]:checked
{
    font-weight:600;
}
.answer input[type="checkbox"]:focus,
.answer input[type="radio"]:focus
{
    background-color:#ffffff;
    outline: 1px dotted #555555;
    color: #464646;
    font-weight:600;
}
.answer input[type="checkbox"] + label,
.answer input[type="radio"] + label
{
    color: #464646;
    cursor:pointer;
    display:inline;
}
.checklist label
{
    position:relative;
    top:-3px;
}
.answer input[type="checkbox"] + label:hover,
.answer input[type="radio"] + label:hover
{
    color: #101010;
    display:inline;
}
.answer input[type="checkbox"]:focus,
.answer input[type="radio"]:focus + label
{
    border-color: #0F1730;  
    color: #0B101E;  
    text-shadow: 1px 1px #cccccc;
}
.answer textarea
{
   width:80%;
   min-height:72px;
} 
.popmodal .answer textarea

{
   width:96%;
   min-height:64px;
}
.popmodal .answer select

{
    z-index:1001;
}

answer input.ui-autocomplete-input:focus
{
    /* font-weight:500;*/

}

.ui-autocomplete {z-index:1000}
.answer .display
{
    background-color: #ddddcc;
    border: 1px dashed #9c9c9c;
    display: block;
    /*font-family: "Courier New",monospace; */
    font-size: 1.1em;
    font-weight: 700;
    margin: 0 0 0 22px;
    padding: 8px;
}
.answer input[type="text"].num,
.num
{
    border: 1px solid #887766;
    border-bottom-width:2px;
    /* font-family: "Courier New",mono-space; */
    font-weight:500;
    font-size:1.05em;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: 0;
    padding:2px;
    text-align:right;
    margin-left:22px;
    width:70px;
}
.answer input[type="text"].num:focus,
.num:focus
{
    border-color:#0F1730;
    font-weight:600;    
}
.ui-datepicker-trigger
{
    background-color: transparent;
    border: medium none;
    cursor: pointer;
    opacity: 0.8;
    filter: alpha(opacity=80); /* IE v8 or less */
    padding: 0;
    vertical-align: bottom;
}
.ui-datepicker-trigger:hover
{
    opacity: 1.0;
    filter: alpha(opacity=100); /* IE v8 or less */
}
.ui-state-highlight
{
    border-color:#ccccaa;
}
table.complex
{
    border:2px solid #9c9c9c;
    margin-left:22px;
}
table.complex th
{
    background-color:#ddddcc;
    padding:4px;
    white-space:nowrap;
    
}

table.complex td
{
    border:1px solid #c9c9c9; 
    vertical-align:center;
    color: #333333;
}
table.complex .clabel
{
    background-color: #ececec;
}
table.complex input
{
    margin:0;
    padding:0 4px 0 0;
}
table.complex select
{
    margin:0;
    padding:0 4px 0 1px;
}
table.complex input int,
table.complex input int
{
    width:60px;
}
td.summary,td.total
{
    text-align:right;
}
td.summary span
{
    font-weight:600;
    margin-right:6px;
}
span.units
{
    margin: 0 0 0 6px;
}

/* fix child parent markup */
tr.parent td
{
    border-bottom: none;   
}
.anchor
{
     background-color: #ecece0;
    border: 1px solid #cccccc;
    box-shadow:1px 2px 2px rgba(0, 0, 0, 0.3); 
     -moz-box-shadow:1px 2px 2px rgba(0, 0, 0, 0.3); 
    -webkit-box-shadow:1px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-border-radius:4px;
    border-radius: 4px;
    color: #011e6e;
    margin-left: 20px;
    margin-top: 2px;
    padding: 3px 5px;
    position: absolute;
    text-decoration: none;
}
.anchor:hover
{
    background-color:#cccccc;
    border-color: #ecece0;
}
.currPanel
{
    border-bottom: 1px solid #999999;
    margin-bottom: 60px;
}

.displayall .currPanel {
  margin-bottom: 0;
}

.panel .heading
{
    background-color: #92927F;
    border-top: 2px solid #ffffff;
    color: #fefefe;
    letter-spacing: 1px;
    padding: 4px;
    text-align: center; 
 }
.displayall .panel .heading
{
    border-top: none;
    display: inline-block;
    width: 26%;
    min-width:180px;
    border-radius: 0 0px 17px 0;
    padding: 5px 6px 5px 13px;
    text-align: left;
 }
 .currPanel div.heading
 {
    border-top: 0;   
 }
 
 .panel .heading.hidden
 {
     background-color: #aaaaa0;
 }
 
.panel .heading h2
{
    font-size:1.1em;
    font-weight:600; 
    min-height:18px;
    text-shadow: 1px 1px #777777;
 }
.displayall .panel .heading h2
{
    font-size:1.0em;
    text-shadow: 2px 2px #555550;
 } 
 .panelNavContainer
 {
    right: 0;
    padding: 14px 0 10px;
    position: absolute;
    background-color: #323227;
    border-radius: 0 0 0 7px;
    border: 1px solid #444440;
    width: 38px;
    z-index: 2;
 }
 
 .panelNavContainer.show
{
    border-radius: 20px 0 9px 9px;
    left: 71%;  /* bounce this puppy off the right side a hair */
    box-shadow: -8px 8px 15px #111111;
    padding: 15px 0 10px;
    margin-top:3px;
    width: 28%;
    min-width: 9em;
}

.panelNavSwitch
{
    color: #ffffff;
    cursor:pointer;
    font-size: 1.4em;
    margin: -15px 0 0 4px;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px #777777;
    vertical-align: middle;
}
.show .panelNavSwitch
{
    font-size: 2.2em;
    margin: -21px 0 0 -15px;
    text-shadow: 2px 2px 4px #000000;
}
.panelNav
{
    display:none;
}

.show .panelNav
{
  float:right;
  display:block;
  width:90%;
}

.show .panelNav .panelLink
{
  display: block;
  padding: 5px;
  max-height: 338px;
  margin-right: 5px;
  overflow: auto;
  overflow-x: hidden;
}

@media only screen and (max-height: 680px)
{
    .show .panelNav .panelLink
    {
      max-height: 277px;
    }
}
@media only screen and (max-height: 560px)
{
    .show .panelNav .panelLink
    {
      max-height: 160px;
    }
}

@media only screen and (max-height: 380px)
{
    .show .panelNav .panelLink
    {
      max-height: 96px;
    }
}

.panelLink li
{
    margin: 0;
    padding:7px 10px;
    border-top: 1px solid #444440; 
    border-radius: 6px;  
}
.panelLink li:hover
{
    background-color:#424237; 
}
.panelLink li:last-child
{
    border-bottom: 1px solid #444440;   
}
.panelLink .visited
{
    color:#888880;
}

.panelLink .potential
{
    color:#bcc090;
}

.panelLink .current
{
    color:#fffff0;
    text-shadow: 1px 1px 5px #000000;
}

.panelLink .current:before
{
    font-family: "scamp";
    font-style: normal;
    font-weight: normal;
    font-size: 0.55em;
    vertical-align: middle;
    content: '\e838\00a0';
}

.panelLink .notinpath
{
  color:#900;
  text-decoration:line-through;
}

/*
ul.panelLink li>a
{
    color:inherit;
}  */

.tocheader
{
    color: #e9e9e9;
    font-size: 0.7em;
    letter-spacing: 0.5em;
    margin: -10px 0 8px;
    text-align: center;
    text-shadow: 2px 2px 1px #111111;
}

/* Wizard css should be below the default entries so it takes precedence. */
.wizard .panel 
{
    display:none;
} 

.wizard .currPanel
{
    display:block; 
    opacity:1;
} 

.wizard .button.next .icon-right-open 
{
    display:inline;
}

.currPanel.panel:nth-child(5) .button.prev{
	display:none;
}

.displayall .panel
{
    display:block;
}
.displayall .panel .nextbar
{
    display:none;
}
     
.displayall .currPanel
{
    border-top: 1px solid #448844;
    border-bottom: 1px solid #448844;
}
.displayall .currPanel .nextbar
{
    display: table-cell;
}
.displayall .evaluator .button.prev
{
    /* display:none; */
} 

.displayall .button.next
{
    display:block;
} 

.panel:first.currPanel .button.prev
{
    display:none;
}

table.scamp td.section
{
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #999990 0%, #BBBBB0 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #999990 0%, #BBBBB0 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(top, #999990 0%, #BBBBB0 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #999990), color-stop(1, #BBBBB0));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #999990 0%, #BBBBB0 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #999990 0%, #BBBBB0 100%);
    border-top: 1px solid #888880;
    clear:both;
    padding:2px 0 2px 12px;
}

.displayall table.scamp td.section
{
    background-image: none;
    background-color:#ffffff;
    border-top:none;
    clear:both;
    padding:2px 0 2px 12px;
}
.section h2
{
    display:inline-block;
    font-weight:600; 
    color: #ffffff;
    letter-spacing: 1px; 
    text-shadow: 1px 1px #777777;
 }
 .displayall .section h2
 {
  color: #555550;
  text-shadow: 1px 1px #cccccc;
 }
 .section .helpinfo
 {
     color:#ffffff;
     float:none;
     margin:0 16px 0 4px;
 }
 .section span
 {
     color:#cfcfcf;
     font-size:0.95em;
     font-style:italic;
 }
table.scamp td.nextbar
{
    /*background-color: #eeeedd; 
    box-shadow: 4px 5px 7px 7px #666666;
    -mov-box-shadow: 4px 5px 7px 7px #666666;
    -webkit-box-shadow: 4px 5px 7px 7px #666666;
*/
    padding:0;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: none !important;
    background-color: #ffffff;
    z-index:999;
}

.displayall table.scamp td.nextbar 
{
    position: inherit;
    display:none;    
}

.vcpcontrols .icon-right-open
{
  color: #444440;
  margin-left: -15px;
  float: right;
}

.icon-left-open
{
  color: #444440;
  position: absolute;
  margin-left: -28px;
  margin-top: 2px;
 }
.currPanel .nextbar
{
    display:table-cell;
}
 .nextbar:hover
{
    /* background-color: #ffffee; */
}
.collapse
{
    color: #ffffff;
    cursor: pointer;
    float: left;
    font-size: 1.2em;
    
}
table.scamp .infobox
{
    background-color: #eaeae0;
    border-bottom: 5px solid #9c9c9c;
    border-top-width: 5px;
    color: #333333;
    font-size: 0.9em;
    line-height: 1.1em;
}
table.scamp .infobox h4
{
    font-size: 1em;
    font-weight: 600;
    padding: 6px 0;
}
.infobox p
{
    padding: 4px 4px;
}
.popimage
{
    width: 45%;
    max-width: 750px;
    cursor:pointer;
    opacity: 0.80;
    filter: alpha(opacity=80); /* IE v8 or less */
    margin-left:22px
}
.popimage:hover
{
    opacity: 1;
    filter: alpha(opacity=100); /* IE v8 or less */
}
.referenceimage
{
    text-align:center;
}
.referenceimage>img
{
    width:40%;   
}
.column10,.column11,.column12,.column14,.column16,.column20,.column25,.column33,.column50
{
    display:inline-block;
    white-space:nowrap;
    vertical-align: top;
}
/*.column10
{
    float:left;
    max-width:10%;
}
.column11
{
    float:left;
    max-width:11%;
}
.column12
{
    float:left;
    max-width:23%;
}
.column14
{
    float:left;
    max-width:14%;
}

.column16
{
    float:left;
    max-width:15%;
}
.column20
{
    float:left;
    max-width:19%;
}
.column25
{
    float:left;
    max-width:23%;
}

.column33
{
    float:left;
    max-width:30%;
}

.column50
{
    float:left;
    max-width:48%;
}
*/
div.imageselect
{
    margin-bottom: 16px;
    padding: 10px;
    text-align: center;
}

.imageselect ul
{
    display:inline-block;
    list-style-type: none;
}
.imageselect ul li
{
    background-color:#ffffff;
    float:left;
    margin: 0 6px;
    padding:2px;
    border: 1px solid #cecece;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.3); 
    -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.3); 
    -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.3);
    -moz-border-radius:8px;
    border-radius: 8px;
    opacity: 0.7;
    filter: alpha(opacity=70); 
}

.imageselect ul li:hover
{
    box-shadow:5px 5px 1px rgba(0, 0, 0, 0.3); 
    -moz-box-shadow:5px 5px 1px rgba(0, 0, 0, 0.3); 
    -webkit-box-shadow:5px 5px 1px rgba(0, 0, 0, 0.3);

    opacity: 1.0;
    filter: alpha(opacity=100); 
}

.imageselect ul li img
{
    max-width:120px;
}
.imageselect ul li.selected
{
    border-color: #330000;
    box-shadow:0px 0px 2px rgba(0, 0, 0, 0.5); 
    -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.5); 
    -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.5);    
    opacity: 1.0;
    filter: alpha(opacity=100); 
}

.selector
{
    border-top: 5px solid #9c9c9c;
    padding:6px;
    width:100%;
}
.selector select
{
    font-size:1.2em;
    padding:2px;
    margin-left:30px;
}
.selector span
{
    font-size:0.85em;
    font-style:italic;
    margin-left:20px;
}
/*  jquery remote style overrides  

    we need to bring all the jquery stuff local  */
 
#ui-datepicker-div
{
    padding:2px 8px;
    background-color:#efefef;
}   
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: .75em;
}
#tabs.ui-widget {
    font-size: 1em;
}
button.ui-button-icon-only {
    height: 1.7em;
}
.ui_tpicker_minute,
.ui_tpicker_hour
{
    margin:4px 0;
}
.ui_tpicker_time_label
{
    float:left;
    width:60%;
    margin-bottom:8px;
}
.ui_tpicker_time
{
    float:right;
    width:40%;
    margin-bottom:10px;
}

.ui-slider .ui-slider-handle {
    border-color: #898989;
    cursor:pointer;
}


/* error messages */

.errormessage
{
    color:#9A0400 !important;  /* error red */
    font-size:.85em;
    padding: 4px 4px 4px 0;
    margin-left:22px;
}

.error
{
    border-color:#9A0400 !important;
}
.newitem
{
    border-color:#2222cc !important;
}
.answer input.error[type="text"],
.answer .error
{
    border-color:#9A0400 !important;
}
.error label
{
    color:#9A0400 !important;
    font-weight:600;
}
span.error
{
    color:#9A0400 !important;  /* error red */
    font-size:.85em;
    font-style:italic;
    padding: 4px 4px 4px 0;
    margin-left:22px; 
    white-space:nowrap;
} 

/* icon font styles */

.datetime,.date
{
    width: 216px;   
}
.icon-red
{
    color:#9A0400;
}

i.datefield
{
    color: #666666;
    font-size: 1.4em;
    margin-top: 4px;
    position: absolute;
}
i.required
{
    color: #ae1d31;
    font-size: 0.40em;
    margin: 8px 0 0 0;
    opacity: 0.5;
    filter: alpha(opacity=50); 
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    position: absolute;
}

/*
.question.required label::after
{
    content:"";
    font-family:scamp;
    font-size:0.7em;
    color:#E4A401;
    position:absolute;
    margin:2px 0 0 2px;
} 
*/

.answer.required input::before,
.answer.required select::before,
.answer.required textarea::before
{
    content:"";
    font-family:scamp;
    font-size:0.7em;
    color:#E4A401;
    position:absolute;
    margin:2px 0 0 2px;
} 

.answer.required input::after,
.answer.required select::after,
.answer.required textarea::after
{
    content:"";
    font-family:scamp;
    font-size:0.7em;
    color:#E4A401;
    position:absolute;
    margin:2px 0 0 2px;
} 
/* help info */

.helpinfo
{
    color: #565699;
    cursor: pointer;
    float: right;
    font-size: 0.9em;
    margin-right: -8px;
}

.inline .helpinfo
{
    margin-top: 1px;
}

.alt .helpinfo
{
    float:none;
    margin-top: 0;
}

#helptext
{
    font-size:0.8em;
    position:absolute;
    border:1px solid #999999;
    line-height:1.1em;
    padding:7px 9px;
    min-width:180px;
    background-color:#ffee99;
    -moz-box-shadow:1px 2px 2px rgba(0, 0, 0, 0.3); 
    -webkit-box-shadow:1px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-border-radius:4px;
    border-radius: 4px;
    width:35%;
    z-index:2001;
}

.filelist
{
    font-size:.85em;
    padding: 2px 0 2px 24px;
    margin-bottom:5px;
}
/* modal & mask  */

.overlay
{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: #000000;
    opacity: 0.85;
    filter: alpha(opacity=85); 
    -moz-opacity:0.85;
    -khtml-opacity: 0.85;
    z-index: 999;

}

.modal {
    background-color: #ffffff;
    display:none;
    min-height: 120px;
    min-width: 260px;
    position: absolute;
    text-align: center;
    top: 40px;
    z-index: 1000;
    -moz-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.9); 
    -webkit-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.9);
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.9); 
    -moz-border-radius:6px;
    border-radius: 6px;
}
.modalcontrol
{
    background-color: #224466;
    cursor:move;
    -moz-border-radius:5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    color:#ffffff;
    text-align:left;
    font-size:1.1em;
    padding:4px;
    white-space:nowrap;
}
.modalcontrol i
{
    margin-right:6px;
}
.modalcontrol h4
{
    font-size:0.95em;
    line-height:1.3em;
    /* width:80%;  */
    overflow:hidden;
}
.box
{
    cursor:pointer;
    float:right;
}
.box:hover
{
    color:#bb0009;
}
.box i
{
    margin: 16px 16px 16px 16px;
}
.close
{
    
}
.modal .contents
{
    /* border-bottom: 1px solid #cccccc;*/
    padding: 0 8px 8px 8px;
    text-align: left;
    margin-bottom:12px;
}
.modal img
{
    width:90%;
}
.modal .buttons
{
    bottom: 5px;
    position: absolute;
    right: 5px;
}
.buttons input.ok
{
    padding: 1px 10px;
}
.ui-resizable-se
{
    bottom: -3px;
    margin: 0;
    opacity: 0.7;
    padding: 0;
    position: absolute;
    right: -3px;
    z-index: 90;
    
}

.tooltip
{
    border:1px solid green;
    display:none;
    font-size:12px;
    position:absolute;
    background-color:#aca06a;
    width:90px;
    top:30px;
    right:10px;
}
/*  panel eval block */
.evaluator
{
    /* border-top: 1px solid #cccccc; */
    padding: 4px;   
    height:36px;
}
ul.evaluator
{
    list-style-type:none;
    width: 324px;
    margin: 0 auto 0 auto;
    display: block;
}

.evaluator .button
{
    background-color: #a9a9a0;
    border:1px solid #999999;
    margin: 2px auto;
    -moz-box-shadow:2px 2px 10px rgba(0, 0, 0, 0.7); 
    -webkit-box-shadow:2px 2px 10px rgba(0, 0, 0, 0.7);
    box-shadow:2px 2px 10px rgba(0, 0, 0, 0.7); 
    -moz-border-radius:6px;
    border-radius: 6px; 
    text-align:center;
    font-size:1.2em;
    display: inline-block;
    cursor:pointer;
    width:7em;
}

.evaluator .button:focus
{
    background-color: #b9b9b0; 
}
.evaluator .button:hover
{
    background-color: #b9b9b0; 
}
.evaluator .button:active
{
    background-color: #5B8F8F; 
    -moz-box-shadow:-2px -2px 5px rgba(0, 0, 0, 0.9); 
    -webkit-box-shadow:-2px -2px 5px rgba(0, 0, 0, 0.9);
    box-shadow:-2px -2px 5px rgba(0, 0, 0, 0.9);    
}
.evaluator .button input
{
    background-color: transparent;
    border: medium none;
    color: #444440;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 0.15em;
}

.evaluator .button input:focus
{
    outline: #555555 dotted 1px;
}
.evaluator .button.prev
{
    margin:0;
    float:left;
}

.evaluator .button.next 
{
    margin:0;
    float:right;
}

.wizard .evaluator .button.next 
{
    display:none;
}

.wizard .vpath .evaluator .button.next 
{
    display:block;
}

.wizard .vpath .last .evaluator .button.next 
{
    display:none;
}

.wizard .evaluator .button.prev .icon-left-open
{
    display:none;
}

.wizard .vpath .evaluator .button.prev .icon-left-open
{
    display:inline;
}

.button.next .icon-right-open {
  display: inline;
  color: #444440;
  margin-top: 2px;
  float: right;
}
.first .evaluator .button.prev {    
  background-color: #cccccc;
  border: none;
  box-shadow: none;
}
.first .evaluator .button.prev input {   
    color:#fefefe;
}
.first .prev .icon-left-open { display: none !important; } /* hate the important directive, but other styles are 
                                                              way to specific */
.last .evaluator .button.next {
  background-color: #cccccc;
  border: none;
  box-shadow: none;
}
.last .evaluator .button.next input {
    color:#fefefe;
}
.last .button.next .icon-right-open {
  display: none;
}
.tableize th
{
    text-align:left;
    font-weight:700;
    max-width:30%;
    border-bottom:1px solid #999999;
    margin:0;
}
.tableize td
{
    border-bottom: 1px solid #c9c9c9;
    padding: 1px 2px 1px 0;
    margin:0;
    min-width:90px;
}
.tableize tr:hover
{
    background-color: #FFF1AD;  
}

/* datatable overrides */
table.dataTable {
    background-color: #777777;
    border: 1px solid #999999;
    border-collapse: separate;
    border-spacing: 0;
    clear: both;
    margin: 0 auto;
    width: 99%;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 6px 10px;
}
table.dataTable tbody>tr:hover td
{
    background-color: #FFFFa6 !important;  
}
table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting
{
    background-color: #557799;
    border-bottom-color: #336699;
    border-right: 1px solid #cccccc;
    color: #fefefe;
    font-size:0.8em;
    font-weight: 500; 
}
table.dataTable .sorting_disabled{
    background-color: #557799;
    border-bottom-color: #336699;
    border-right: 1px solid #cccccc;
    color: #fefefe;
    font-size: 0.9em;
    font-weight: 500;
}
table.dataTable thead th
{
    padding: 3px 12px 2px 7px;   
}
/* not ideal, but datatables make life interesting */
.dataTables_wrapper .dataTables_length {
    float: right;
}
table.display tbody td.toolicons
{
    font-size:1.1em;
}
.dataTables_wrapper .dataTables_filter {
    float: left;
}
.dataTables_length,
.dataTables_filter
{
    margin: 3px 0;
}

.dataTables_length label,
.dataTables_filter label
{
    color: #777777;
    font-size: 0.72em;
    font-weight: 600;
    margin: 1px 4px 0 10px;
    text-transform: uppercase;
}
.encstate   /* form signed/completed bar */
{
    background-color: #ffffbb;
    border-bottom: 1px dotted #555555;
    font-size: 0.9em;
    font-style: italic;
    padding: 3px 0;
    text-align: center;
}   
.demographics
{
    width:100%
}
.demographics td
{
    border:1px solid #cccccc;
    padding: 4px 8px;
    width: 15%;
    white-space: nowrap;
}
.demographics i
{
    font-size: 0.90em;
}
.demographics i:hover
{
    cursor:pointer;
}
.demographics .data
{
    background-color: #ddddcc;
    border: 1px dashed #9c9c9c;
    color:#333330;
    /* font-family: "Courier New",Monospace; */
    font-size:1.1em;
    font-weight:600;
    width:30%
}
.demographics .data a
{
    color:#333330;
}
.demographics .data a:hover
{
    color:#555550;
    text-decoration:underline;
}
.demographics .editor
{
    display:none;
    background-color: #ddddcc;
    border: 1px dashed #9c9c9c;
    color:#333330;
    /* font-family: "Courier New",Monospace; */
    font-size:1.1em;
    font-weight:600;
    width:30%    
}

.demographics .editor input, .demographics .editor button
{
    margin: -1px 0 -5px 0;
    vertical-align: top;
}

.linkedencounters
{
    width:100%;
}
.linkedencounters td
{
    background-color: #eeeedd;
    border: 1px solid #c9c9c9;
    font-size: 0.8em;
    padding: 1px 2px 1px 8px;
}
.linkedencounters tr:hover td
{
    background-color: #ffffee;
}
.linkedencounters td a
{
    color:inherit;
}
.linkedencounters thead td
{
    border-bottom: 1px solid #aaaa88;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0 0 3px;
}
.icon-attach
{
    cursor:pointer;
    color:#666644;
}
.icon-attach:hover
{
    color:#333333;
}
.login td
{
    padding: 4px;
}
.login .question
{
    background-color: #ffffff;
    border:none;
}
.centerform
{
    margin: 50px auto;
    width:450px;
}
#btnlogin
{
    border-radius: 9px;
    moz-border-radius: 9px;
    webkit-border-radius: 9px;
    margin-left: 150px;
    margin-top: 16px;
    padding: 5px 24px;
}
.userblock
{
    float:right;
    padding:3px;
    margin: 0 16px 0 0;
}
.userblock i
{
    color: #557799;
    cursor: pointer;
    float: right;
    margin: 0 5px;
    font-size: 1.4em;
}
.userblock i.icon-th-1
{
    font-size:1.1em;
    margin-top:2px;
}
.userblock i:hover
{
    color: #113355;
}

i.userlogout
{
    font-size:1.2em;
    margin-top:1px;
    text-shadow: 1px 1px #777777;
}
.searchcontainer
{
    width:100%;
}
.tablecontainer
{
    width: 98%;
    margin: 0 auto 18px;
    display: block;
}
.searchpanel
{
    border-bottom: 1px solid #dddddd;
    font-size: 0.8em;
    margin-bottom: 1em;
    overflow: hidden;
}
.searchpanel label,.psearchpanel input[type=text]
{
    font-size:1.2em;
    line-height:1em;
    height:1em;
}
.searchpanel select
{
    max-width:12em;
}
.fixed-height {
	padding: 1px;
	max-height: 200px;
	overflow: auto;
}
.rollup
{
    border-bottom: 1px dotted #777777;
    color: #555555;
    cursor: pointer;
    height: 1em;
    text-align: center;
    user-select:none;
    -moz-user-select: none;
    -ms-user-select: none;
    *zoom:1;
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#dfdfdf',GradientType=0);
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #dfdfdf 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #dfdfdf 100%);
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #dfdfdf 100%);
    background-image: -webkit-gradient(linear, left top, left top, color-stop(0, #FFFFFF), color-stop(1, #dfdfdf));  /*ipad/iphone*/
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #dfdfdf 100%);
    background-image: linear-gradient(to top, #FFFFFF 0%, #dfdfdf 100%); /*standards */
}
.rollup:hover
{
    color:#333333;
}
    /* stylings for icons in search result table */
    .eicon
    {
        text-decoration:none;
    }
    .eicon.iedit
    {
        color:#9D5C00;
        font-size:1.3em;
    }
    .editicon
    {
        color:#9D5C00;
    }
    .eicon.ilock
    {
    }
    .eicon.iNA
    {
        color:#8C2D2D;
    }
    .eicon.ipacket
    {
        color:#B79C2D;
        font-size: 1.3em;
    }
    .eicon.ipdf
    {
        color:#D91A21;
    }
    .icon-patExt
    {
        color:#808080;
    }
    .icon-patLocal
    {
        color:#5F9410;
    }
/*------------SEARCH PAGE --------------------*/
.zone   /* search form divs */
{
    background-color:#efefef;
    border-top: 1px solid #cccccc;
    clear:left;
    margin: 0;
    padding: 0;
    position:relative;
}
.zone .label
{
    display:inline-block;
    float:left; 
    font-weight:500;  
    padding:3px 0;
    width:70px;
}
.zone .label + div
{
    background-color:#ffffff;
    border-left: 1px solid #999999;
    padding:3px;
    margin-left: 80px;
}
.zone h1
{
    font-size: 0.80em;
    margin: 0 0 3px;
    padding: 1px 2px;
}
.bottomborder
{
    border-bottom:1px solid #cccccc;
}
.zone label
{
    color:#111100;
    display:inline-block;
    font-size:0.9em;
    color:#353535;
    margin:0 3px 14px 10px; 
}
.searchoptions label
{
    margin:0 8px 1px 3px;
}
.zone input
{
    /* font-family: "Courier New",monospace; */
    font-size: 1.2em;
    font-weight: 700;
}
.zone input[type=text]
{
    width:132px;
}
.zone input:focus
{
    font-size:1.2em;
    background-color:#eeeeee;
}
.zone input.date
{
    width:108px;
}

.zone .autocomplete
{ 
    border:1px solid #999999;
    height: 20px;
    width:200px !important;
}
.searchpanel .button
{
    background-color: #ecf2f2;
    border: 1px solid #acacac;
    border-radius: 9px;
    moz-border-radius: 9px;
    webkit-border-radius: 9px;
    cursor: pointer;
    margin: 2px 5px;
    padding: 2px 8px;
}
.enNewSub /* button override margin */
{
    margin-left:4px;   
}
.searchpanel .button:hover
{
    background-color:#ffffff;
     box-shadow:-1px -1px 1px rgba(0, 0, 0, 0.5); 
    -moz-box-shadow:-1px -1px 1px rgba(0, 0, 0, 0.5); 
    -webkit-box-shadow:-1px -1px 1px rgba(0, 0, 0, 0.5);
}

.max   /* manage a max width on a column */
{
    min-width:210px;
    overflow:hidden;
    /* white-space:nowrap; */
}
.icon, table.display thead th.icon   /* manage a max width on a column */
{
    margin: 0;
    max-width: 22px;
    overflow: hidden;
    padding: 0;
    text-align: center;
}
table.display thead th
{
    border-right: 1px solid #ffffff;
    font-size:0.86em;
    font-weight:500;
    padding:3px 20px 3px 10px;   
    text-align:left;
    vertical-align:middle;
}
table.display tbody td
{
    border-right: 1px solid #ededed;
    color: #333344;
    font-size: 0.80em;
    padding:3px 4px;
    vertical-align:middle;
}
tr.even td
{
    background-color:#dedede !important;
}
table.display tr:hover td
{
    color: #222222;
}
.infomark
{
    color: #cecece;
    font-size: .8em;
    float:right;
}
.report
{
    border: 1px solid #acacac;
    border-collapse: separate;
    color:#353537;
    box-shadow: 2px 2px 12px #aaaaa0;
    border-radius: 0 0 4px 4px;
    margin-bottom:44px;
    font-size:0.86em;
    min-width:16em;
}
.report th
{
    background-color:#557799;
    color:#ffffff;
    font-weight:500;
    padding:4px 2px;
}

.workarea a.backlink
{
    margin: 2px 0 12px 0;
    font-size: 0.78em;
    font-weight: 600;
    color: #666688;
}
table.report tbody td
{
    border-bottom:1px solid #ececec;
    padding:3px 8px;
}
table.report tbody td.inactive
{
    color:#AAAAAA;
}
.report .numeric
{
    text-align:right;
    font-weight:600;
    width:12%;
}
.report td a
{
    font-weight: 600;
    color: #676767;
}
.report td a:hover
{
    text-decoration:underline;
    color: #0066cc;
}
.report tr:hover 
{
    background-color:#efefee;
}
.report-action{
    text-align: right;
    padding: 12px 12px 4px;
    color: #7979aa;
    cursor: pointer;
}
/* reporting tool */
.reportmenuwrapper{
    border:1px solid #ededed;
    border-radius:4px;
    overflow:hidden;
    margin: 4px 0;
}

.dataTables_info,
.dataTables_paginate
 {
    font-size:0.86em;
}
.scampreportlist li
{
    font-size: 0.90em; 
    margin:1px 0 2px 16px !important;
}
.scampreportlist li.category
{
    margin:11px 0 6px 0 !important;
    font-weight:600;
}

.scampreportlist
{
    margin:0 60px 10px 4px;
    float:left;
}
.rotate
{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);  /* old ie */
    width:60px;
}

/* date & info column of encounters list */
.colwidth20 
{
    width:20%;
    min-width:180px; /*ensure no wrap or folding*/
}

#searchData_filter label>input
{
    margin:0 10px 4px 0;
}

#searchData tbody tr
{
    cursor:pointer;
}
/* BEGIN floating validation control for FSDF */
.togglevcpanel
{
    cursor:pointer;
}
.togglevcpanel:hover{
	text-decoration:none;
}
.validationcpanel
{
    background-color:#DDDDCC;
    box-shadow: 2px 4px 32px #444440;
    border:1px solid #aaaaa0;
    border-radius: 0.5em;
    display:none;
    position:fixed;
    overflow:hidden;
    top:2em;
    right:1em;
    line-height:1.3em;
    z-index:100;
    opacity:0.88;-moz-opacity:0.88;filter:alpha(opacity=88);
    -webkit-border-radius: 0.5em;
    -khtml-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    width:27em;
}
.validationcpanel:hover
{
	opacity:1;-moz-opacity:1;filter:alpha(opacity=100);
}
.vcphead
{
	background-color:#323227;
	color: #ffffff;
	font-weight:600;
	padding:2px 10px 2px 6px;
	width:100%;

}
.validationmessage
{
    display:none;
    font-size: 0.75em;
    padding: 1px 9px;
}
span.invalidcount
{
    font-size:0.9em;
    float:left;
}
.vcpcontrols{
	text-indent: 0.5em;
	margin-right:0.5em;
	padding:7px;
}
.vcphead .togglevcpanel
{
    color: #fff;
    float: right;
    font-size: larger;
    font-weight: 900;
    margin-right: 2px;
}
.summaryarea{
	padding: 0.5em;
}
.validationcpanel a{
	cursor:pointer;
}
.btnerrprev, .btnerrnext
{
    font-size:0.90em;
	font-weight:bold;
}
.btnerrnext{
	float:right;
}
.currvaliditem
{
  color: #880000;
  font-size: 1.05em;
  display: block;
  padding: 0 0 6px;
  margin-left: 47px;
}
.currvaliditem.valid{
  color: #053908;
  font-weight: 600;
}
/* END floating validation control */
.lists
{
    clear:both;
}
.listing
{
    width:100%;
}

.listing.small
{
    width:60% !important;
}
.listing th
{
    background-color:#557799;
    border-right: 1px solid #aaaabb;
    color:#ffffff;
    text-align:center;
    font-size:0.8em;
    padding:3px;
}
th.tabletitle
{
    background-image: -ms-linear-gradient(bottom, #557799 0%, #7799BB 100%);
    background-image: -moz-linear-gradient(bottom, #557799 0%, #7799BB 100%);
    background-image: -o-linear-gradient(bottom, #557799 0%, #7799BB 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #557799), color-stop(1, #7799BB));  /*ipad/iphone*/
    background-image: -webkit-linear-gradient(bottom, #557799 0%, #7799BB 100%);
    background-image: linear-gradient(to top, #557799 0%, #7799BB 100%); /*standards */
    padding:4px 4px;
    border-bottom:1px solid #999999;
    font-size:0.95em
}
.listing tr:hover
{
    background-color:#fffcab;
}
.listing td
{
    border-bottom:1px solid #ececec;
    border-right:1px solid #ececec;
    color:#444444;
    font-size:0.70em;
    padding: 3px 5px;
    margin: 1px 5px;
    vertical-align:middle;
}
.listing td a
{
    color: inherit;
    text-decoration: inherit;
    font-size: 1.36em;
    margin-right: 6px;
}
.listing .break
{
  background-color: #ddedf4;
  border-bottom: 1px solid #9c9c9c;
  color: #333330;
  padding: 4px 7px;
  font-size: .8em;
  font-weight: 500;
}
.listing .group
{
    border-bottom: 1px solid #666666;
    font-style:italic;
    padding:4px 0;
}
.listbox {
    border: 1px solid #8c8c8c;
    float: left;
    margin: 10px;
    max-height: 300px;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* search stylings --------------------------------------- 
--------------------------------------------------------*/

.searchresults
{
    margin: 22px;
    width:94%;
    max-width:1200px;
}

.searchresults tr.newscamp>td
{
    border-top:2px solid #ccccee;
}
.searchresults tr.newscamp>td.subheading
{
    border-top:none;
}
.searchresults td
{
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
    color: #444444;
    font-size: 0.96em;
    padding: 3px 5px;
    margin: 1px 2px;
    vertical-align: middle;
}
.searchresults td.subheading
{
    background-color: #ddedf4;
    border-bottom:1px solid #bbbbcc;
}
.searchresults td.subsub
{
    background-color: #ffffff;
}
.searchresults td a {
    color: inherit;
    display:inline-block;
    text-decoration: inherit;
    font-size: 1.0em;
    margin-right: 6px;
}
.searchresults td.tools
{
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
    color: #444444;
    font-size: 1em;
    padding: 3px 0;

}
.searchresults td.tools a 
{
    color:#555566;
    display:inline;
    margin:0 2px 0 0;
}
.searchresults th
{
    background-color:#557799;
    border-right: 1px solid #aaaabb;
    color:#ffffff;
    text-align:center;
    font-size:0.8em;
    padding:3px;
}

.searchresults h2
{
    color:#555555;
    font-size:1.1em;
    font-weight:600;
    margin: 12px 10px 6px 4px;
}
.searchresults .reportlink
{
    color:#557799;
    display:inline;
}
.searchresults table.listing
{
    box-shadow: 2px 2px 2px #cccccc;
}
.searchresults i.icon-clipboard
{
    font-size: 1.1em;
}
.searchresults .helpinfo {
    color: #557799;
    cursor: pointer;
    float: right;
    font-size: 0.9em;
    margin:0;
}
i.icon-clipboard.inprogress
{ 
    color: #5F9410; 
}
i.icon-clipboard.completed
{ color: #acacac; }
i.icon-clipboard.forreview
{ color: #557799; }
i.icon-clipboard.onhold
{ color: #ec5522; }

.searchresults .icon-patLocal {
    color: #557799;
}

.searchresults .icon-patLocal:hover {
    color: #114466;
}
.searchresults .editencounter
{
    color:#777788;
    font-size:.86em;
    vertical-align:top;
    cursor: pointer;
}
.searchresults .editencounter:hover
{
    color:#555577;
}
.quicksearch-wrapper 
{
    margin:12px auto;
    text-align: center;
}
.quicksearch
{
    border-radius: 18px;
    color: #666677;
    font-size: 1.1em;
    font-stretch: expanded;
    margin: 12px auto 3px auto;
    outline: 0;
    padding: 5px 7px;
    width: 24em;
}

.betahelp
{
    float: none;
    margin: 1px 0 16px 0;
    font-size: 1.1em;
    color: #557799;
    position: absolute;
}
.betatext
{
    color: #557799;
    font-size: .8em;
    font-style: italic;
    letter-spacing: -1px;
}
.noresults{
    color:#557799;
    font-size:1.1em;
    font-weight:600;
    margin:18px 0 20px 26px;
}
.listing td.searchby
{
    background-color: #aaaabb;
    color: #ffffff;
    padding: 5px;
    font-size: .86em;
}
.first-cell
{
    border-left:1px solid #ececec;
}

.wide
{
    width:98%;
}
.bounce
{
    clear:both;
    height:8em;
    margin-bottom:30px;
}
.hscroll
{
    overflow-x: scroll;
}

/* tabs */
#tabs ul.ui-tabs-nav li
{ 
    font-size:1.1em;
}
/* modal forms .popmodal */
.popmodal input[type=submit]
{
    float:right;
    padding: 6px 4px;
    margin: 20px 12px 0 0;
    width:10em;
}
.popmodal input[type=submit]:hover
{
    background-color: #fcfcdd;
}
.popmodal .question
{
    border: none;
    background-color: #ffffff;
    font-size: .95em;
    padding: 10px 8px 6px 0;
    text-align: right;
    vertical-align: top;
    /* width: 17%; */
}
.confirmmessage
{
    margin:20px;
    color: #555577;
}
.confirmmessage h2
{
    font-size:1.2em;
    margin: 10px 0;
}
.confirmmessage p
{
    margin: 10px 0;
}
#workinggif
{
    width:18px;
    z-index:999;
}
span.resetpatientform {
    cursor: pointer;
    color: #555555;
    font-size: .65em;
}
.addpatient
{
    /* add patient form style */
    min-width:690px;
}
.addpatientbutton
{
    cursor:pointer;
    float: right;
    font-size: 0.68em;
    position: absolute;
    right:8px;
    margin-top: 0;
    background-color: #ffffff;
    border: 1px solid #c9c9c9;
    border-radius: 9px;
    color: #777777;
    padding: 1px 6px;
}
/* external data styling */
div#externaldatacontainer {
    padding: 7px 4px 36px 4px;
}

#linked_encounters_block td.question
{
    display:none;
}
#linked_encounters_block td
{
    font-size:0.85em;
}
.popmodal .answer
{
    padding: 4px 26px 2px 12px;
    border: 1px solid #dcdcdc;
    background-color: #f8f8f4;
}
span.message
{
    color: #a00000;
    font-weight: 600;
    line-height: 26px;
    margin: 0 0 0 32px;
}
span.green
{
    color:#00a000;
}
/*  admin work area  */
.buttonbar
{
    /* background-image: linear-gradient(to top, #7799bb, #ffffff 80%);  */
    border: 2px solid #cdcdcd;
    border-right:none;
    border-left:none;
    margin-top: 15px;
    padding: 7px;
}
.listdata td
{
    font-size:0.8em
}
.listdata .icon-user-3
{
    color:#cccccc;
}

.listdata .active
{
    color:#208300;
}
ul.simplelist li
{
    font-size:0.9em;
    margin:1px 0 1px 20px;
    color:#333333;
}
ul.simplelist li a
{
    color:inherit;
}
ul.simplelist li a:hover
{
    color:#111111;
    text-decoration:underline;
}
ul.simplelist li.inactive a
{
    color:#999999;
}
.workarea
{
    width:80%;
    margin:24px auto 68px;
}
.workarea h1
{
    color:#444455;
    font-size:1.3em;
    font-weight:600;
    margin: 4px 0;
}
.workarea h2
{
    font-weight:600;
    margin: 4px 0 12px;
}
.workarea h3
{
color: #444455;
    font-size: 1em;
    font-weight: 600;
    margin: 14px 0 6px 0;
}
.workarea h4
{
    color:#444455;
    font-style:italic;
    font-size:1em;
    font-weight:500;
    margin: 6px 0 12px;
}
.workarea h5
{
    color: #888888;
    font-size: 0.8em;
    margin: 0 0 6px 0;
    font-style: italic;
}
.workarea>ul>li
{
    margin: 0 0 24px;
}
.workarea p
{
    font-size:.7em;
    margin:12px 16px;
}
.workarea p strong
{
    font-weight:600;
}

.workarea .button
{
    background-color: #f6f6f6;
    border: 1px solid #999999;
    border-radius: 6px;
    color: #444444;
    font-size: 0.9em;
    margin: 1px 0 0;
    padding: 1px 5px;
    text-decoration: none;
}
.workarea .button:hover
{
    background-color: #fffcab;
}
.workarea .dataTables_wrapper
{
    margin-top:10px;
}
.workarea .links li
{
    font-size:1.3em;
    color:#555555;
    margin:5px 0;
}
.workarea .links li a,.workarea .links li a:visited
{
    color:inherit;
}
.workarea .links li.lookup
{
    font-size:0.9em;
}
.workarea .links li.lookup p
{
    font-size: 0.76em;
    margin: 0 0 4px;
}
    font-size: 0.76em;
    margin: 0 0 4px;
}
.workarea .links li h4
{
    font-weight:600;
    margin: 1px 0 6px 0;
}

.workarea .links li.lookup a
{
    margin: 6px 0 6px 24px;
}

#selectfileblock
{
    border: 1px solid #ddddee;
    border-radius: 6px;
    margin: 0px;
    padding: 12px;
}
p.alphalist {
  font-size: 1.0em;
  margin: 4px 0 24px;
  color: #333330;
}
tr.bordered td,
.bordered
{
    border-top:1px solid #cecece;
}
.alphalist a
{
    color:inherit;
}
.toolgroup
{
    border: 1px solid #999999;
    border-radius: 8px;
    box-shadow: 1px 1px 6px #cccccc;
    margin: 16px 0;
    padding: 12px;
}


/* edit table */
table.edittable *
{
    font-size:1.10em;
    width:auto;
}
table.edittable td
{
    padding: 3px;
    border: 1px solid #cccccc;
    height:1.4em;
    vertical-align:middle;
}
table.edittable td.label
{
    width:25%;
}
.workarea .links li.lookup .edittable a
{
    margin:0;
    padding:0;    
}
span.edittable-data
{
    display:inline-block;
}
.edittable span.controls
{
    float:right;
    margin:0;
    padding:0;
    vertical-align:middle;
}
span.edittable-data input
{
    width:21.4em;
}
.edittable a
{
    cursor:pointer;
    font-size: 1.1em;
}
.edittable .disabled,
.workarea .links li.lookup .edittable .disabled
{
    cursor:default !important;
    color:#cecece !important;
}
.edittable input.data
{
    font-size:0.95em;
}
/* crappy style choice forced on me by BAD markup and BAD planning */
#filelist_wrapper
{
    padding: 12px 0;
}
#uploadresults li,
#importresults li
{
    font-size:.9em;
    margin-left:32px;
    width:85%;
}
.uploadselect
{
    color:#152955;
    font-size:.85em;
}
#hashlookup li
{
    margin:12px 0 12px 0;
}
.title,
.answer select.title + input,
.answer input.title
{
    width: 480px;
}
{
     width:480px; 
}
table.title td {
  width: 100%;
}
.timeentry
{
    width:80px !important;
    text-align: right !important;
}
.medium
{
    width:200px !important;
}
.small
{
    width:100px !important;
}
.tiny
{
    width:60px;
}
.back
{
    cursor:pointer;
}
.answer input.calculated
{
    background-color:#ececec;
    font-weight:800;
    text-align:right;
    width:100px;
}
.back:hover
{
    color:#071DA8;
}
div.adminform
{
    display:inline-block;
    margin:18px 38px;
}
table.adminform
{
    border:1px solid #ebebeb;
}
table.adminform td
{
    border-bottom:1px solid #ebebeb;
    padding:4px 0;
}
table.adminform .question
{
    background-color:#ffffff;
    border-right:1px solid #ebebeb;
    color:#444455;
    padding: 0 8px 0 7px;
}
td.formbuttons input
{
    float:right;
    width:160px;
    padding:4px 10px;
}
    
/* begin styling for patient details page */

.patientheader
{
    zoom: 1;
    border-bottom: 1px solid #999999;
    color: #fefefe;
    padding: 4px;
    background-image: linear-gradient(to top, #557799 0%, #7799bb 100%);*
}
.patientheader a
{
    color:inherit;
}
.patientheader .icon-edit-alt
{
    margin-right: 1em;
}
.icon-edit-1
{
    color:#444460;
    font-size:1.2em;
}
.scampenrollcontainer
{
    font-size:0.8em;
    margin-bottom: 0.4em;
    overflow:hidden;
}

.patient-bottom
{
    margin-bottom:60px;
}

table.display tbody td.nonscamp,
.nonscamp,
.nonscamp a.eicon
{
    background-color:#cccccc !important;
    color:#999999;
}
.ensubhar
{
    /*background-position:5px;
    padding-left:22px;
    /*background-color:#ff2222;*/
    cursor:pointer;
    -ms-cursor:pointer;
}
.enlinked
{
    /*background-position:2px;
    padding-left:22px;*/
    cursor:pointer;
    -ms-cursor:pointer;
}
.enLoad
{
    /*
    background-position:13px;
    padding-left:32px;*/
    cursor:pointer;
    ms-cursor:pointer;
}
.scampinfo, .scampinfo2
{
    padding-bottom:0.5em;
}
.endetail
{
    background-color: #dfeff6;
    border: 1px solid #cccccc;
    box-shadow: 2px 2px 2px 1px #cccccc;
    moz-box-shadow: 2px 2px 2px 1px #cccccc;
    webkit-box-shadow: 2px 2px 2px 1px #cccccc;
    display: none;
    margin: 0 1em 0.2em;
    padding: 4px;
    width: 96%;
    z-index:99;
}
/* SCAMP legend */
.scamplegendcontainer
{
    font-size:0.85em;
}
/* ul.scamplegend
{
    margin-left:10em;
    color:#000;
    list-style: square;
}  */
.scamplegend
{
    background-color: #dfeff6;
    padding: 3px;
}
.scamplegend span
{
    font-size:0.8em;
    color:#0000a0;
    text-transform:uppercase;
}
.legendspan
{
    display:inline-block;
    height:10px;
    width:4px;
    padding-right:10px;
    margin-right:2px;
    border: 1px solid #000;
}
.legendspan.ssDefault{ background-color:#FFF; }
.legendspan.ssExit{ background-color:#C10F27; }
.legendspan.ssExPerm{ background-color:#FF0046; }
.legendspan.ssExTemp{ background-color:#FF6666; }
.legendspan.ssScreen{ background-color:#D8D82B; }
.legendspan.ssReScreen{ background-color:#F7912C; }
.legendspan.ssInclude{ background-color:#31CE49; }
    
/* SCAMP status coloring */
.ScEn
{
    border: 1px solid #999999;
    color: #999999;
    cursor: pointer;
    display: inline-block;
    font-size: 0.84em;
    font-weight: 700;
    margin: 2px 18px 0 0;
    padding: 2px;
    white-space: nowrap;
    overflow-x: hidden;
    width: 132px;
    border-radius: 5px;

}
.ScEn.ssDefault{background-color:#fcfcfc; }
.ScEn.ssExit{ color:#fff;background-color:#666666; }
.ScEn.ssExPerm{ color:#fff;background-color:#C01222; }
.ScEn.ssExTemp{ color:#ffffff;background-color:#F72333; }
.ScEn.ssScreen{ color:#555555;background-color:#FFEE5C; }
.ScEn.ssReScreen{ color:#555555;background-color:#FFC55C; }
.ScEn.ssInclude{ color:#555555;background-color:#9EF8E4; }
            
.enclistcontainer
{
    margin-top:0.5em;
}
i.icon-chat
{
    color: #fefefe;
    cursor:pointer;
    font-size:1.2em;
    float:right;
    margin: 0 24px 0 0;
}
i.icon-chat.none
{
    color:#cacadf;
    
}
div.comments
{
    background-color: #ffee88;
    border: 1px solid #afa7e4;
    border-radius: 0 6px 12px 12px;
    moz-border-radius: 0 6px 12px 12px;
    webkit-border-radius: 0 6px 12px 12px;
    color: #333333;
    cursor:pointer;
    display: none;
    margin: 26px 26px 0 0;
    max-width: 360px;
    min-width:245px;
    padding: 4px 12px 24px;
    position: absolute;
    right:0;
    z-index: 101;
}
div.comments span
{
    border-bottom: 1px solid #444444;
    display: block;
    font-size: 0.85em;
    font-weight: 600;
    margin: 0 0 8px;
}
.edtToolbar
{
    display:inline-block;
}
.edtToolbar a
{
    cursor:pointer;
    border: 1px solid #c0c0c0;
    background-color:#f0f0f0;
    padding: 0.2em;
    margin: 0 0.2em;
}
/* generic modal form styling */
.fullname
{
    cursor:pointer;
}
.fmodal
{
    z-index: 1000;
    display:none;
    position:absolute;
    top: 5em;
    background-color:#FFF;
    border-radius: 0.5em;-webkit-border-radius: 0.5em;-khtml-border-radius: 0.5em;border-radius: 0.5em;
    -moz-border-radius: 0.5em;-webkit-border-radius: 0.5em;-khtml-border-radius: 0.5em;border-radius: 0.5em;
    -webkit-border-radius: 0.5em;-webkit-border-radius: 0.5em;-khtml-border-radius: 0.5em;border-radius: 0.5em;
}
.fmodal input.datetime, .fmodal input.autoComplete
{
    font-size: 1.05em;
    width:12em;
    margin:0;
}
.fmodal input:focus,
.fmodal select:focus,
.fmodal input[type="text"]:focus
{
    border-color:#0F1730;   
    font-weight:600; 
}
.fmodal textarea:focus
{
    border-color:#0F1730;   
}
.fmodal select 
{
    border: 1px solid #887766;
    border-bottom-width: 2px;
    /*font-family: "Courier New",mono-space;*/
    font-weight: 500;
    font-size: 1.05em;
    -moz-border-radius: 4px;border-radius: 4px;
    outline: 0;
    padding: 2px;
    background-color: white;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    margin: 0;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    width:12em;
}
.fmodal input[type=text]{
    border: 1px solid #887766;
    border-bottom-width: 2px;
    /*font-family: "Courier New",mono-space;*/
    font-weight: 500;
    font-size: 1.05em;
    -moz-border-radius: 4px;border-radius: 4px;
    outline: 0;
    padding: 2px;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    margin: 0;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    width:12em;
}
/* mpatient modal */
.fmodal.mPatient
{
    width:34em;
}
.mPatient .mTitle
{
    font-size: 1.1em;
}
.mPatient label
{
    display:inline-block;
    width: 9em;
}
.mPatient .mPatContainer .FrmSetPat div
{
    line-height:1.2em;
}
.mPatient .mPatContainer .FrmSetPat span
{
    display:inline-block;
    width: 13em;
}
.mPatient .mPatContainer input[type=radio]
{
    margin-top: 0.8em;
    margin-left: 1em;
}
.mPatient label[for=patcomment]
{
    vertical-align:top;
    margin-top: 1em;
}
.mPatient textarea
{
    margin-top:1em;
}
/* enrollscamp modal */
.enrollscamp input[type="text"]
{
    width:40em;
    margin-bottom:1em;
}
/* end enrollment modal */
/*encounter modal */
.encountermanage
{
    /*
    z-index: 1000;
    display:none;
    position:absolute;
    top: 5em;
    background-color:#FFF;
    width:34em;
    padding: 1em;
    margin: 0 auto;
    margin-top: 6em;
    -moz-border-radius: 0.5em;-webkit-border-radius: 0.5em;-khtml-border-radius: 0.5em;border-radius: 0.5em;
    */
}
.frmmsg
{
    color: #444466;
    font-size: 0.9em;
    font-style: italic;
    font-weight: 600;
    padding: 3px 0 0;
    text-align: center;
}
.frmfields,
.mPatContainer
{
    padding: 1em;
}
.mPatContainer div
{
    margin: 4px 24px 0 0;
}
.frmfields div
{
	line-height:2.0em;
	vertical-align:top;	
}
.frmfields label
{
    display:inline-block;
    width: 12em;
}
.frmfields.enroll label
{
    width:auto;
    font-size:0.85em;
}
.frmfields.enroll label.post
{
    font-style:italic;
}
.frmaction
{
    padding: 2px 6px 12px 0;
    margin: 4px 6px 20px;
}
.frmaction input
{
    float:right;
    margin: 2px;
}
.frmaction span
{
	display:inline-block;
	float:right;
}
.frmaction a
{
    margin: 6px 0 0 16px;
    position: absolute;
}   

.frmimported { background-color: #ff7; }

.narrowColumn { width: 45px; } 

a[disabled=disabled],
.frmaction a.disabled
{
    display:none;
}  
.fixed-height {
padding: 1px;
max-height: 200px;
overflow: auto;
z-index:5500;
}
.topline
{
    border-top:1px solid #cdcdcd;
    margin:20px 0 0 0;
}
/* end encounter modal */
/* debug info */
div.debug
{
    margin:25px;
}
.debug td
{
    font-family:"Courier New", Monospace;
    padding:4px 20px 4px 2px;
    border:1px solid #cceeee;
}
.debug td.data
{
    font-weight: 800;
}
.debug h3
{
    margin-top:12px;
}

/*  layout helpers and tweaks */
.max580
{
    max-width:580px;
}
.max760
{
    max-width:760px;
}
.printonly
{
    display:none;
}
h2.printonly
{
    font-size:1.0em;
    font-family:"Courier New";
    font-weight:600;
    color: #887766;
    letter-spacing:.2em;
    margin: 4px 0 0 10px;
}

/* Florida Specific Import Block */

#selectfileblock
{
    display: none;
}

@media only screen and (max-width: 860px)
{
    .recommend h3
    {
        font-size: 0.90em;
    }
}
@media only screen and (max-width: 600px)
{
    .recommend h3
    {
        font-size: 0.80em;
    }  
}

ul.bullet li
{
    list-style: disc;
    margin-left: 42px;
}
ul.square li
{
    list-style: square;
    margin-left: 42px;
}
ul.circle li
{
    list-style: circle;
    margin-left: 42px;
}


/* styles for wizard mode only */

.collapse
{
    display:none;
}
/* iPad in portrait or landscape  */
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px)  
{ 
    
     .listing td a
    {
        font-size: 1.56em;
        margin-right: 12px;
    }
    
    .quikinfo 
    {
        width: 99%;
    }
    
    .dashboard .menu 
    {
        float: none;
        height: 100%;
        margin: 10px auto;
        max-width: 100%;
    }
}
  
.author_formcheck
{
    background-color: #fcfcf0;
    border-radius: 6px;
    border: 2px solid #cccc99;
    display: none;
    font-weight: 400;
    font-size: 0.80em;
    line-height: 14px;
    padding: 11px;
    position: absolute;
    left: 20%;
    width: 70%;
    max-height: 400px;
    overflow: auto;
    z-index: 3;
}
i.icon-formcheck
{
    color:#882222; 
    font-size: 0.60em; 
    margin: 0 0 0 6px;
    opacity: .50;
    filter: alpha(opacity=50); /* IE v8 or less */
}
i.icon-formcheck:hover
{
    opacity: 1;
    filter: alpha(opacity=100); /* IE v8 or less */
}
/* final panel styles */
#donelabel_id 
{
    background-image: url('/images/completed-sm-50.png');
    background-repeat:no-repeat;
    background-size: 100px;
    background-position: 14px 10px;
    border-bottom:none;
    padding:0 0 0 124px;
    height:140px;
}
#donelabel_id h2
{
    color: #444440;
    font-size: 1.2em;
    font-weight: 600;
    margin: 20px 0 20px 12px; 
}
#donelabel_id input
{
    font-weight: 600;
    border-radius: 5px;
    padding: 6px 20px;
    color: #444440;
    cursor:pointer;
}
#donelabel_id p
{
  margin: 12px;
  max-width: 600px;
  font-size: .95em;
}

#donelabel_id input:hover
{
    background-color:#ecece0;
    color: #000000;
}
#donelabel_id input[disabled] {
  color: #acacac;
  cursor: inherit;
}

.displayall #complete {
  display: none;
}

a.link
{
    text-decoration: underline;
}

.encounterButton {
    display: inline;
    margin: 0 0 0 -26px;
    font-size: 1.4em;
    color: #888888;
}

@media only screen and (max-width: 720px)
{
    .demographics td {display: none; }
    .demographics td.data 
    {
        display: table-cell;
        font-size: .85em;    
    }
}
@media only screen and (max-width: 680px)
{
    .demographics td.data 
    {
        font-size: .75em;   
        font-weight:500; 
    }
}

.trademark
{
    color:#555555;
    font-size:0.6em;
    margin:0 0 0 6px;
    padding:0;
}
.printby {
    font-size:11px;
    position:absolute;
    top:0;
    right:0;
}
/* === print styles === */
@media only print
{
    .pagebreak { page-break-before: always; }
    .nobreak 
    { 
        page-break-before:avoid;
        page-break-inside:avoid;
    }
    .printonly { display:inline-block; }

    .noprint,
    .footer,
    .brand ,
    i.download
    { 
        display:none;
    }

    .toolgroup { box-shadow: none;}

    /* SDF Forms */
    .controlbox i,
    ul.menu,
    .heading i.collapse,
    .question .helpinfo,
    .userblock,
    .backlink,
    .dataTables_info,
    .dataTables_paginate
    {   
        display:none;
    }
    .report{ box-shadow: none;}
    .toolbar .controlbox span 
    {
        font-size: 1.15em;
    }
    .demographics .data 
    {
        font-size: 0.76em;
    }
    i.required
    {
        display:none;
    }
    .toolbar div
    {
        width: 100%;
    }
    
    .toolbar img.right
    {
        width: 20%;
    }
    
    .toolbar h2.left
    {
        width: 75%;
    }
    .displayall .panel .heading 
    {
      width: 100%;
      border-radius: 0;
    }
    .displayall .panel .heading h2
    {
        color:#000000;
    }
    .panelNavContainer,
    .linked-encounters,
    .sdf-menu,
    #done
    {
        display:none;
    }
}

